<template>
  <div class="car-info-block-content">
    <div class="img">
        <img :src="info.img"/>
    </div>
    <div class="info">
        <div class="name">
            <span>{{info.brand}}</span>
            <span>{{info.model}}</span>
        </div>
        <div class="config">
            <span>{{info.contoller}}{{info.output}}|{{info.type}}|{{info.capacity}}座</span>
        </div>
        <div class="price-wrapper">
            <p class="title">日均价</p>
            <div class="price">
                <p><span>￥{{info.online_price}}</span>起</p>
            </div>
        </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'car-info-block',
  data () {
    return {
      
    }
  },
  props: {
    info: {
        type: Object
    }
  },
  mounted: function() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.car-info-block-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    .img {
        flex: 0 0 96px;
        width: 96px;
        // background: rgba(0, 0, 0, 0.70);
        img {
            width: 100%;
        }
    }
    .info {
        flex: 1;
        margin-left: 12px;
        margin-top: 10px;
        .name, .config {
            text-align: left;
            span {
                color: rgba(0, 0, 0, 0.87);
            }
        }
        .name {
            span {
                font-size: 15px;
                font-weight: bold;
            }
        }
        .config {
            span {
                font-size: 12px;
            }
        }
    }
    .price-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        margin: 14px 0 0 0;
        .title {
            font-size: 11px;
        }
        p {
            margin: 0;
            text-align: right;
        }
        .price {
            p {
                font-size: 12px;
            }
            span {
                font-size: 14px;
                font-weight: bold;
                color: #ff2d55;
            }
        }
    }
}

</style>
