<template>
  <div class="near">

    <div class="search">
        <div class="search-box">
            <div class="img">
                <img src="static/Images/Near/search.png" />
            </div>
            <input placeholder="输入地址寻找周边门店" />
        </div>
        <div class="button" @click="to">
            <p>列表</p>
        </div>
    </div>

    <div id="container" tabindex="0"></div>
    <Navigation select="2"></Navigation>
  </div>
</template>

<script>
import Navigation from "@/components/Basic/Navigation/Navigation"
export default {
  name: 'near',
  data () {
    return {
      
    }
  },
  methods: {
      to() {
          this.$router.push('/stores')
      }
  },
  components: {
    Navigation
  },
  mounted: function() {
    document.getElementById("container").style.height = (document.documentElement.clientHeight - 56) + "px"
    var map = new AMap.Map('container', {
        resizeEnable: true,
        zoom:10,
        center: [120.139772, 30.286422]
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.near {
    .search {
        height: 56px;
        background: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
        // border: 1px solid rgba(0, 0, 0, 0.12);
        position: relative;
        z-index: 999;
        display: flex;
        .search-box {
            flex: 1;
            height: 34px;
            margin: 10px 5px 10px 10px;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.08);
            display: flex;
            .img {
                flex: 0 0 36px;
                width: 36px;
                img {
                    width: 16px;
                    height: 16px;
                    margin-top: 8px;
                }
            }
            input {
                flex: 1;
                border: 0;
                margin: 0;
                padding: 0 0 0 2px;
                height: 34px;
                font-size: 13px;
                outline: none;
            }
        }
        .button {
            flex: 0 0 54px;
            width: 54px;
            height: 34px;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.08);
            margin: 10px 10px 10px 5px;
            p {
                margin: 0;
                height: 34px;
                line-height: 34px;
                font-size: 14px;
            }
        }
    }
    #container {
        width: 100%;
        margin: 0px;
        background: black;
    }
}

</style>
