<template>
    <div class="stores-list">

        <div class="loading" v-if="!g">
            <img src="/static/Images/loading.svg" />
        </div>

        <div class="menu-wrapper" ref="menu-wrapper">
            <ul>
                <li @click="selectMenu(index, $event)"  class="menu-item" :class="{ 'selected': index === currentIndex }" v-for="(item, index) in blocks" :key="item._id">
                    <span class="text">{{item.name}}</span>
                </li>
            </ul>
        </div>

        <div class="cars-wrapper" ref="cars-wrapper">
            <ul ref="ul">
                <li class="car-items car-list-hook" v-for="item in blocks" :key="item._id">
                    <div class="title">
                        <span class="text">{{item.name}}</span>
                    </div>
                    <div class="car-item" v-for="store in item.list" :key="store._id" @click="select(store)">
                        <div class="icon">
                            <img class="img" src="static/Images/Near/ic_car_spot.jpg" />
                        </div>

                        <div class="infos">
                            <p class="name">{{store.name}}</p>
                            <p class="desc">{{store.city}}</p>
                            <p class="desc">{{store.address}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import BScroll from 'better-scroll'
import config from '@/config'

export default {
    name: 'stores-list',
    data() {
        return {
            k: false,
            g: false,
            goods: 'Welcome to Your Vue.js App',
            areas: [],
            scrollY: 0,
            blocks: [],
            blocks2: [
                {
                    name: '附近门店',
                    isSelected: true
                },
                {
                    name: '机场/火车站',
                    isSelected: false
                },
                {
                    name: '滨江区',
                    isSelected: false
                },
                {
                    name: '拱墅区',
                    isSelected: false
                },
                {
                    name: '江干区',
                    isSelected: false
                },
                {
                    name: '上城区',
                    isSelected: false
                },
                {
                    name: '西湖区',
                    isSelected: false
                },
                {
                    name: '下城区',
                    isSelected: false
                },
                {
                    name: '下沙区',
                    isSelected: false
                },
                {
                    name: '萧山区',
                    isSelected: false
                }
            ],
            listHeight: []
        }
    },
    computed: {
        currentIndex() {
            for (let i = 0; i < this.listHeight.length; i++) {
                let height1 = this.listHeight[i]
                let height2 = this.listHeight[i + 1]
                if (!height2 || (this.scrollY >= height1 && this.scrollY < height2)) {
                    return i
                }
            }
            return 0
        }
    },
    methods: {
        _initScroll() {
            this.menuScroll = new BScroll(this.$refs['menu-wrapper'], {
                click: true
            })
            this.carsScroll = new BScroll(this.$refs['cars-wrapper'], {
                probeType: 3,
                click: true
            })
            this.carsScroll.on('scroll', (pos) => {
                this.scrollY = Math.abs(Math.round(pos.y))
            })

        },
        _calculateHeight() {
            let carList = this.$refs['cars-wrapper'].getElementsByClassName('car-list-hook')
            let height = 0
            this.listHeight.push(height)
            for (let i = 0; i < carList.length; i++) {
                let item = carList[i]
                height += item.clientHeight
                this.listHeight.push(height)
            }
        },
        selectMenu(index, event) {
            let carList = this.$refs['cars-wrapper'].getElementsByClassName('car-list-hook')
            let el = carList[index]
            this.carsScroll.scrollToElement(el, 300)
        },
        select(store) {
            if (window.city) {
                window.city.store = store
                this.$router.push('selfdriving')
            }
        }
    },
    created: function() {
        var url = window.city ? `${config.host}/stores?city=` + window.city.city + "市" : `${config.host}/stores`
        this.k = false
        var j = 0
        this.$http.get(url, '', { 'emulateJSON': true, 'emulateHTTP': true })
            .then((response) => {
                for (let i = 0; i < response.body.areas.length; i++) {
                    this.$http.get(`${config.host}/stores?area=` + response.body.areas[i], {}, { 'emulateJSON': true, 'emulateHTTP': true })
                        .then((response2) => {
                            if (response2.body.stores) {
                                this.areas.push({
                                    name: response.body.areas[i],
                                    list: response2.body.stores
                                })
                                j++
                            }
                            if (i === response.body.areas.length - 1) {
                                this.k = true
                            }
                        })
                }
                var _this = this
                var time = setInterval(function() {
                    if (_this.k) {
                        window.clearInterval(time)
                        _this.blocks = _this.areas
                        _this.$nextTick(function() {

                            let carList = _this.$refs['cars-wrapper'].getElementsByClassName('car-list-hook')

                            _this.$refs['ul'].style.paddingBottom = (document.documentElement.clientHeight - 56 - carList[carList.length - 1].clientHeight) + 'px'
                            _this._initScroll()
                            _this._calculateHeight()

                            _this.g = true
                        })
                    }
                }, 10)//延时3秒 

            })
            .catch(function(response) {
                alert('系统正在维护')
            })
    },
    mounted: function() {
    }
}
</script>

<style lang="scss" scoped>
.stores-list {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 56px;
    left: 0;
    right: 0;
    display: flex;
    overflow: hidden;

    .loading {
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 56px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        padding-top: 200px;
        img {
            width: 100px;
        }
    }

    .menu-wrapper {
        flex: 0 0 104px;
        width: 104px;
        background: #F8F8F8; // overflow: hidden;
        .menu-item {
            height: 48px;
            width: 103px;
            display: table;
            border-right: 1px solid rgba(0, 0, 0, 0.08);
            span {
                margin: 0;
                height: 48px;
                line-height: 48px;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.54);
            }
        }
        .selected {
            height: 48px;
            width: 100px;
            border-left: 4px solid #000000;
            background: #ffffff;
            border-right: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            span {
                color: #000000;
            }
        }
    }

    .cars-wrapper {
        flex: 1;
        overflow: hidden;
        .car-items {
            .title {
                height: 29px;
                background: #F8F8F8;
                border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                text-align: left;
                .text {
                    font-size: 11px;
                    padding-left: 12px;
                    height: 29px;
                    line-height: 29px;
                    color: rgba(0, 0, 0, 0.87);
                }
            }
            .car-item {
                height: 72px;
                background: #ffffff;
                border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                display: flex;
                .icon {
                    flex: 0 0 58px;
                    width: 58px;
                    height: 72px;
                    .img {
                        margin: auto;
                        margin-top: 20px;
                        background: #F8F8F8;
                        border-radius: 20px;
                        height: 32px;
                        width: 32px;
                    }
                }
                .infos {
                    flex: 1;
                    p {
                        margin: 0;
                        text-align: left;
                        margin-right: 12px;
                    }
                    .name {
                        font-size: 12px;
                        margin-top: 10px;
                        color: rgba(0, 0, 0, 0.87);
                    }
                    .desc {
                        font-size: 11px;
                        margin-top: 1px;
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

a {
    color: #42b983;
}
</style>
