<template>
  <div class="order-item">

    <div class="car-info-wrapper">
        <div class="title-of-car">
            <div class="img">
                <img :src="selected.img">
            </div>
            <div class="info">
                <p class="name">{{selected.brand}}{{selected.model}}</p>
                <p class="desc">￥{{order.price}}.00</p>
            </div>
        </div>

        <div class="address-info">
            <div class="left">
                <div class="store">{{order.address_get}}</div>
                <div class="date">{{date.get.y}}年{{date.get.m}}月{{date.get.d}}日</div>
                <div class="time">{{date.get.k}}{{date.get.h}}：{{date.get.s}}</div>
            </div>
            <div class="day-num">
                <p>{{order.during}}天</p>
            </div>
            <div class="right">
                <div class="store">{{order.address_return}}</div>
                <div class="date">{{date.return.y}}年{{date.return.m}}月{{date.return.d}}日</div>
                <div class="time">{{date.return.k}}{{date.return.h}}：{{date.return.s}}</div>
            </div>
        </div>
    </div>

  </div>
</template>

<script>
import config from '@/config'

export default {
  name: 'order-item',
  data () {
    return {
      selected: {},
      date: {
        get: {
          y: '',
          m: '',
          d: '',
          h: '',
          m: '',
          k: ''
        },
        return: {
          y: '',
          m: '',
          d: '',
          h: '',
          m: '',
          k: ''
        }
      }
    }
  },
  props: {
    order: {
      type: Object
    }
  },
  methods: {
    resetTime(type) {
      var date = type == 'get' ? new Date(this.order.get_time) : new Date(this.order.return_time)
      var h = date.getHours() >= 13 ? date.getHours() - 12 : date.getHours()
      this.date[type] = {
        y: date.getFullYear(),
        m: date.getMonth() + 1,
        d: date.getDate(),
        h: h > 9 ? h : '0' + h,
        s: date.getMinutes() > 9 ? date.getMinutes() : '0' + date.getMinutes(),
        k: date.getHours() < 12 ? '上午' : '下午'
      }
    }
  },
  mounted: function() {
    this.$http.get(`${config.host}/cars/` + this.order._carId, {}, {'emulateJSON': true, 'emulateHTTP': true })
    .then((response) => {
        this.selected = response.body
    })
    .catch(function (response) {
    })

    this.resetTime('get')
    this.resetTime('return')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.order-item {
    height: 184px;
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .car-info-wrapper {
        .title-of-car {
            display: flex;
            padding: 26px 41px 0 41px;
                .img {
                  flex: 0 0 96px;
                  width: 96px;
                  height: 64px;
                  img {
                      height: 100%;
                      width: 100%;
                  }
                }
                .info {
                    flex: 1;
                    height: 64px;
                    padding-top: 12px;
                p {
                    margin: 0 0 0 24px;
                    text-align: left;
                    color: rgba(0, 0, 0, 0.87);
                }
                .name {
                    font-size: 15px;
                    font-weight: bold;
                }
                .desc {
                    font-size: 12px;
                    margin-top: 2px;
                    color: #f23047;
                }
            }
        }

        .address-info {
            margin-top: 6px;
            display: flex;
            .left {
                flex: 1;
                text-align: left;
                margin-left: 24px;
            }
            .day-num {
                flex: 0 0 40px;
                width: 40px;
                height: 40px;
                margin-top: 10px;
                border-radius: 20px;
                border: 1px solid #e0e0e0;
                p {
                    height: 40px;
                    margin-top: 1px;
                    line-height: 40px;
                }
            }
            .right {
                flex: 1;
                text-align: right;
                margin-right: 24px;
            }
            
            p {
                margin: 0;
            }
            .store {
                font-size: 14px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.87);
                margin-bottom: 4px;
            }
            .date {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.87);
            }
            .time {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.87);
            }
        }
    }
}

</style>
