<template>
  <div class="module-of-address-selector">
    <div class="module" ref="module">
        <OneOfModule :pickerValue="pickerValue" ref="leftmodule" :parentDate="parentDate[0]" @selectDatetime="selectDatetime" :isSelectAddress="isSelectAddress" @toSelectAddress="letsSelectAddress" index="0"></OneOfModule>
    </div>
    <div class="module">
        <OneOfModule :pickerValue="pickerValue" ref="rightmodule" :parentDate="parentDate[1]" @selectDatetime="selectDatetime" :isSelectAddress="isSelectAddress" @toSelectAddress="letsSelectAddress" index="1"></OneOfModule>
    </div>

    <div class="exchange">
        <img src="static/Images/Basic/ModuleOfAddressSelector/ic_arrow_exchange.png"/>
    </div>
    <div class="days-wrapper" ref="days">
        <div class="days">
            <p>{{dayNum}}天</p>
        </div>
    </div>
  </div>
</template>

<script>
import OneOfModule from "@/components/Basic/ModuleOfAddressSelector/OneOfModule/OneOfModule"
import moment from 'moment'

export default {
  name: 'module-of-address-selector',
  data () {
      var date = new Date()
      date = new Date(date.getTime() - (date.getTime()-57600000)%(3600000 * 24))
    return {
      isSelectAddress: {
          item0: false,
          item1: false
      },
      parentDate: [
          {
            date: date
          },
          {
            date: new Date(Date.parse(date) + 86400000)
          }
      ],
      dayNum: '1',
      pickerValue: {
          values: [
            '', ''
          ]
      }
    }
  },
  methods: {
    letsSelectAddress(index) {
        for(var i = 0;i < 2; i++){
            this.isSelectAddress[i] = false
        }
        this.isSelectAddress[index] = true
    },
    selectDatetime(index, newDatetime) {
        newDatetime = new Date(newDatetime)
        if(index == 0) {
            this.parentDate[1].date = new Date(Date.parse(newDatetime) + 86400000)
            if(Date.parse(this.pickerValue.values[1]) < Date.parse(this.pickerValue.values[0]) + 86400000) {
                this.pickerValue.values[1] = new Date(Date.parse(this.pickerValue.values[0]) + 86400000)
                this.$refs.rightmodule.resetDateTime(this.pickerValue.values[1])
            }
        }
        window.orderInfo.during = this.dayNum = this.getDays(this.pickerValue.values[0], this.pickerValue.values[1])
    },
    getDays(strDateStart,strDateEnd){
        let start = moment(strDateStart)
        let end = moment(strDateEnd)
        return end.diff(start, 'days')
    }
  },
  components: {
      OneOfModule
  },
  mounted: function() {
    this.$refs['days'].style.top = this.$refs['module'].getBoundingClientRect().bottom - 90 + 'px'
    window.orderInfo.during = window.orderInfo.during ? window.orderInfo.during : 1
    this.dayNum = window.orderInfo.during
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.module-of-address-selector {
    position: relative;
    display: flex;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    // padding-bottom: 24px;
    background: #ffffff;
    .module {
        flex: 1;
    }
    .exchange {
        position: fixed;
        top: 100px;
        left: 50%;
        margin-left: -7px;
        width: 14px;
        // margin-left: 30%;
        // position: absolute;
        // margin-top: 48px;
        // z-index: -1;
        img {
            width: 14px;
            height: 32px;
        }
    }
    .days-wrapper {
        position: fixed;
        // top: 320px;
        left: 50%;
        margin-left: -20px;
        // position: absolute;
        // width: 40%;
        // margin-left: 30%;
        // bottom: 36px;
        .days {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            margin: auto;
            background: #ffffff;
            p {
                margin: 1px 0 0 0;
                padding: 0;
                height: 40px;
                line-height: 40px;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.87);
            }
        }
    }
}

</style>
