<template>
  <div class="self-driving">
    <div class="title-bar-wrapper">
        <TitleBar @minorMethod="minorMethod" :title="title"></TitleBar>
    </div>

    <ModuleOfAddressSelector></ModuleOfAddressSelector>

    <div class="select" @click="next">
        <p>去选车</p>
    </div>

    <Rule v-if="showRule" @hide="hideRule"></Rule>

  </div>
</template>

<script>
import TitleBar from "@/components/Basic/TitleBar/TitleBar"
import ModuleOfAddressSelector from "@/components/Basic/ModuleOfAddressSelector/ModuleOfAddressSelector"
import Rule from "@/components/PagesOfFunctions/SelfDriving/Rule/Rule"
export default {
    name: 'self-driving',
    data () {
        return {
        title: {
            main: '自驾租车',
            //   minor: '预约规则'
        },
        showRule: false,
        }
    },
    components: {
        TitleBar, Rule, ModuleOfAddressSelector
    },
    methods: {
        minorMethod() {
            this.showRule = true
        },
        hideRule() {
            this.showRule = false
        },
        next() {
            if(!window.orderInfo.store[0] || !window.orderInfo.store[0].name || !window.orderInfo.store[1] || !window.orderInfo.store[1].name) {
                alert('请选择相关门店！')
            } else if(window.orderInfo.during < 2) {
                alert('租车天数必须在2天以上！')
            } else {
                delete window.cityInfo
                window.orderInfo.price = window.orderInfo.price * window.orderInfo.during
                this.$router.push('/selectCarModel')
            }
        }
    },
    mounted: function() {
        document.getElementsByClassName("self-driving")[0].style.height = (document.documentElement.clientHeight - 20) + "px"
    }
}
</script>

<style lang="scss" scoped>

.self-driving {
    background: #F8F8F8;
    .title-bar-wrapper {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .select {
        height: 56px;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #222222;
        p {
            margin: 0;
            padding: 0;
            line-height: 56px;
            height: 56px;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

</style>
