<template>
  <div class="stores">

    <StoresList></StoresList>
    
    <Navigation select="2"></Navigation>
  </div>
</template>

<script>
import Navigation from "@/components/Basic/Navigation/Navigation"
import StoresList from "@/components/Pages/StoresList/StoresList"
export default {
  name: 'stores',
  data () {
    return {
      
    }
  },
  methods: {
      to() {
          this.$router.push('/near')
      }
  },
  components: {
    Navigation, StoresList
  },
  mounted: function() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.stores {
    .search {
        height: 56px;
        background: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
        // border: 1px solid rgba(0, 0, 0, 0.12);
        position: relative;
        z-index: 999;
        display: flex;
        .search-box {
            flex: 1;
            height: 34px;
            margin: 10px 5px 10px 10px;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.08);
            display: flex;
            .img {
                flex: 0 0 36px;
                width: 36px;
                img {
                    width: 16px;
                    height: 16px;
                    margin-top: 8px;
                }
            }
            input {
                flex: 1;
                border: 0;
                margin: 0;
                padding: 0 0 0 2px;
                height: 34px;
                font-size: 13px;
                outline: none;
            }
        }
        .button {
            flex: 0 0 54px;
            width: 54px;
            height: 34px;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.08);
            margin: 10px 10px 10px 5px;
            p {
                margin: 0;
                height: 34px;
                line-height: 34px;
                font-size: 14px;
            }
        }
    }
    
}

</style>
