<template>
  <div class="confirm-order">
    <div class="title-bar-wrapper">
        <TitleBar @minorMethod="minorMethod" :title="title"></TitleBar>
    </div>

    <div class="car-info-wrapper">
        <div class="title-of-car">
            <div class="img">
                <img :src="selected.img">
            </div>
            <div class="info">
                <p class="name">{{selected.brand}}{{selected.model}}</p>
                <p class="desc">{{selected.contoller}}{{selected.output}}T | {{selected.type}} | {{selected.capacity}}座</p>
            </div>
        </div>

        <div class="address-info">
            <div class="left">
                <div class="store">{{orderInfo.address_get}} · {{orderInfo.store[0].name}}</div>
                <div class="date">{{resetTime(orderInfo.get_time, 1)}}</div>
                <div class="time">{{resetTime(orderInfo.get_time, 0)}}</div>
            </div>
            <div class="day-num">
                <p>{{orderInfo.during}}天</p>
            </div>
            <div class="right">
                <div class="store">{{orderInfo.address_return}} · {{orderInfo.store[1].name}}</div>
                <div class="date">{{resetTime(orderInfo.return_time, 1)}}</div>
                <div class="time">{{resetTime(orderInfo.return_time, 0)}}</div>
            </div>
        </div>
    </div>

    <div class="bold-line"></div>


    <div class="price-wrapper">
        <div class="price">
            <p><span>￥</span>{{orderInfo.price}}</p>
        </div>
        <div class="type">
            <p>{{orderInfo.payway.name}}</p>
        </div>
        <div>
            <PriceItem  @change="changePriceItem" v-for="item in priceItems" :key="item._id" :info="item"></PriceItem>
            <div class="price-item">
                <p class="item-name">保险费({{price_option.safe}})元/天</p>
            </div>
            <div class="price-item">
                <p class="item-name">手续费({{price_option.formalities}})元/次</p>
            </div>
            <div class="price-item">
                <p class="item-name">租车费({{price_option.singlePrice}})元</p>
            </div>
        </div>
    </div>

    <div class="select" @click="next">
        <p>提交订单</p>
    </div>
  </div>
</template>

<script>
import TitleBar from "@/components/Basic/TitleBar/TitleBar"
import PriceItem from "@/components/PagesOfFunctions/ConfirmOrder/PriceItem/PriceItem"
import config from '@/config'

export default {
  name: 'confirm-order',
  data () {
    return {
      title: {
          main: '确认订单',
        //   minor: '退改规则'
      },
      price_option: {
          safe: 80, // 保险费
          formalities: 30, //手续费
          singlePrice: 0,
          service: 25 //上门服务费
      },
      orderInfo: window.orderInfo,
      selected: {},
      priceItems: [
        {
          name: '上门服务费',
          price: '25',
          isSelected: true,
          ziduan: 'price_getcar',
          serviceVisible: true,
        }
      ]
    }
  },
  components: {
      TitleBar, PriceItem
  },
  methods: {
    copyObject(source) {
        var result = {}
        for (var key in source) {
            result[key] = typeof source[key]==='object'? this.copyObject(source[key]): source[key];
        }
        return result;
    },
    minorMethod() {
    },
    changePriceItem(item) {
        this.orderInfo.price = parseInt(this.orderInfo.price) + parseInt(item)
        this.price_option.service += parseInt(item)
    },
    next() {
      for(let i = 0; i < this.priceItems.length; i++) {
          window.orderInfo.payway[this.priceItems[i].ziduan] = this.priceItems[i].isSelected ? this.priceItems[i].price : 0
      }
      let d = this.copyObject(window.orderInfo)
      d._userId = this.$store.state.user._id
      d.payway.price_safe = this.price_option.safe
      d.payway.price_shouxu = this.price_option.formalities
      d.payway.price_service = this.price_option.service
      delete d.store
      var self = this
      axios.post(`${config.host}/orders`, d, {'emulateJSON': true, 'emulateHTTP': true })
      .then(function(response) {
          response.body = response.data
          var t = {
                  "appId": response.body.appid,     //公众号名称，由商户传入
                  "timeStamp": response.body.timeStamp,         //时间戳，自1970年以来的秒数
                  "nonceStr": response.body.nonceStr, //随机串
                  "package": response.body.package,
                  "signType": response.body.signType,         //微信签名方式：
                  "paySign": response.body.paySign //微信签名
              }
              var that = this
          if(!response.body.message || response.body.message !== 'Bad Request') {
              WeixinJSBridge.invoke(
                  'getBrandWCPayRequest', {
                      "appId": response.body.appid,     //公众号名称，由商户传入
                      "timeStamp": response.body.timeStamp,         //时间戳，自1970年以来的秒数
                      "nonceStr": response.body.nonceStr, //随机串
                      "package": response.body.package,
                      "signType": response.body.signType,         //微信签名方式：
                      "paySign": response.body.paySign //微信签名
                  },
                  function(res){
                      if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                          alert('预约成功！')
                          window.orderId = response.body._id
                          self.$router.push('/selfdrivingorderinfo')
                          // that.$router.push('/home')
                      } else {
                          alert('支付失败，请重试！')
                      }    // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                  }
              )
          } else {
              alert('订单出错，请重试！')
          }
      })
    },
    getTime(time) {
        var date = new Date(time)
        var h = date.getHours()
        var w = h > 12 ? '下午' : '上午'
        h -= h > 12 ? 12 : 0
        var m = date.getMonth() + 1
        return {
            y: date.getFullYear(),
            m: m > 9 ? m : '0' + m,
            d: date.getDate() > 9 ? date.getDate() : '0' + date.getDate(),
            h: h > 9 ? h : '0' + h,
            i: date.getMinutes() > 9 ? date.getMinutes() : '0' + date.getMinutes(),
            w: w
        }
    },
    resetTime(time, type) {
        var date = this.getTime(time)
        if(type == 1) {
            return date.y + '年' + date.m + '月' + date.d + '日'
        } else {
            return date.w + date.h + ':' + date.i
        }
    }
  },
  mounted: function() {
    if (window.orderInfo.payway.name === '线上预付') {
        this.orderInfo.price += this.price_option.service
    } else {
        this.priceItems[0].serviceVisible = false
    }
    this.price_option.singlePrice = this.$store.state.orderSelected.singlePrice * window.orderInfo.during
    this.orderInfo.price += this.price_option.safe * window.orderInfo.during//默认添加保险费
    this.orderInfo.price += this.price_option.formalities //手续费
    this.selected = window.selected
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.confirm-order {
    padding-bottom: 60px;
    .title-bar-wrapper {
        position: fixed;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .select {
        height: 56px;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #222222;
        p {
            margin: 0;
            padding: 0;
            line-height: 56px;
            height: 56px;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .car-info-wrapper {
        .title-of-car {
            display: flex;
            padding: 76px 41px 0 41px;
                .img {
                    flex: 0 0 96px;
                    width: 96px;
                    height: 64px;
                    background: red;
                img {
                    height: 100%;
                    width: 100%;
                }
                }
                .info {
                    flex: 1;
                    height: 64px;
                    padding-top: 12px;
                p {
                    margin: 0 0 0 24px;
                    text-align: left;
                    color: rgba(0, 0, 0, 0.87);
                }
                .name {
                    font-size: 15px;
                    font-weight: bold;
                }
                .desc {
                    font-size: 12px;
                }
            }
        }

        .address-info {
            margin-top: 20px;
            display: flex;
            .left {
                flex: 1;
                text-align: left;
                margin-left: 24px;
            }
            .day-num {
                flex: 0 0 40px;
                width: 40px;
                height: 40px;
                margin-top: 10px;
                border-radius: 20px;
                border: 1px solid #e0e0e0;
                p {
                    height: 40px;
                    margin-top: 1px;
                    line-height: 40px;
                }
            }
            .right {
                flex: 1;
                text-align: right;
                margin-right: 24px;
            }

            p {
                margin: 0;
            }
            .store {
                font-size: 14px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.87);
                margin-bottom: 4px;
            }
            .date {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.87);
            }
            .time {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.87);
            }
        }
    }

    .bold-line {
        height: 12px;
        background: rgba(0, 0, 0, 0.03);
        margin-top: 30px;
    }

    .price-wrapper {
        margin-top: 30px;
        .price {
            p {
                font-size: 24px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.87);
                margin: 0;
            }
            span {
                font-size: 14px;
            }
        }
        .type {
            margin-top: 8px;
            margin-bottom: 22px;
            width: auto;
            display: inline-block;
            border-radius: 3px;
            padding: 0 4px;
            border: 1px solid rgba(0, 0, 0, 0.87);
            p {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.87);
                margin: 0;
            }
        }
    }
}


.price-item {
    margin: 0 24px;
    padding: 14px 0;
    text-align: left;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    .item-name {
        margin: 0;
        flex: 1;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
    }
}


</style>
