<template>
  <div class="title-bar">
    <img @click="returnto(title.router)" src="static/Images/Basic/TitleBar/return.png"/>
    <div class="main">
        <p>{{title.main}}</p>
    </div>
    <span @click="minorMethod" class="minor">{{title.minor}}</span>
  </div>
</template>

<script>

export default {
  name: 'title-bar',
  data () {
    return {
      
    }
  },
  props: {
    title: {
        type: Object
    }
  },
  methods: {
    returnto(router) {
      if (router) {
        this.$router.push(router)
      } else {
        this.$router.back()
      }
    },
    minorMethod() {
        this.$emit("minorMethod")
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.title-bar {
    height: 56px;
    position: relative;
    background: #ffffff;
    img {
        position: absolute;
        width: 24px;
        top: 16px;
        left: 24px;
        z-index: 3;
    }
    .main {
        position: absolute;
        width: 100%;;
        top: 0;
        left: 0;
        z-index: 2;
        p {
            font-size: 18px;
            font-weight: medium;
            margin: 0;
            padding: 0;
            line-height: 56px;
            height: 56px;
            color: rgba(0, 0, 0, 0.87);
        }
    }
    .minor {
        font-size: 15px;
        font-weight: medium;
        position: absolute;
        right: 22px;
        margin: 0;
        padding: 0;
        line-height: 56px;
        height: 56px;
        color: rgba(0, 0, 0, 0.87);
        z-index: 3;
    }
}

</style>
