<template>
  <div class="car-info" v-if="selected" @click="hide">
    <div class="info-wrapper" @click.stop.prevent="none">
      <div class="title">
        <div class="img">
          <img :src="selected.img">
        </div>
        <div class="info">
          <p class="name">{{selected.brand}}{{selected.model}}</p>
          <p class="desc">{{selected.contoller}}{{selected.output}} | {{selected.type}} | {{selected.capacity}}座</p>
        </div>
      </div>

      <div class="price-wrapper" :class="{ notselect: select00 }" @click="select(0)">
        <p class="name">线上价格</p>
        <p class="price">￥{{selected.online_price}}/日均</p>
      </div>

      <div class="price-wrapper" :class="{ notselect: select01 }" @click="select(1)">
        <p class="name">门店价格</p>
        <p class="price">￥{{selected.store_price}}/日均</p>
      </div>

      <div class="ok" @click.stop.prevent="selectCar">
        <p>确认价格</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'car-info',
  data () {
    return {
      title: {

      },
      type: '0',
      select00: false,
      select01: true
    }
  },
  props: {
      selected: {

      }
  },
  methods: {
      selectCar() {
        let user = this.$store.state.user
        if (!user)  {
          alert('系统正在维护!')
          this.$router.push('/')
        }
        if (!user.isChecking && !user.isChecked) {
          this.$router.push('ididentify')
        } else {
          this.$store.state.carSelected = this.selected
          window.selected = this.selected
          window.orderInfo._carId = this.selected._id
          window.orderInfo.payway = {}
          window.orderInfo.payway.name = this.type == 0 ? '线上预付' : '门店支付'
          window.orderInfo.price = this.type == 0 ? this.selected.online_price : this.selected.store_price
          this.$store.state.orderSelected.singlePrice = this.type == 0 ? this.selected.online_price : this.selected.store_price
          window.orderInfo.price = window.orderInfo.price * window.orderInfo.during
          this.$router.push('/confirmorder')
        }
      },
      hide() {
          this.$emit('hideCarInfo')
      },
      none() {

      },
      select(type) {
        this.select00 = this.select01 = true
        if(type == 0) {
          this.select00 = false
        } else {
          this.select01 = false
        }
        this.type = type
      }
  },
  mounted: function() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.car-info {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    padding-top: 71px;
    .info-wrapper {
        width: 272px;
        height: 298px;
        background: #ffffff;
        border-radius: 6px;
        margin: 0 auto 20px auto;
        padding: 20px;
        position: relative;
        .title {
          display: flex;
          .img {
            flex: 0 0 96px;
            width: 96px;
            height: 64px;
            background: red;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .info {
            flex: 1;
            height: 64px;
            padding-top: 12px;
            p {
              margin: 0 0 0 12px;
              text-align: left;
              color: rgba(0, 0, 0, 0.87);
            }
            .name {
              font-size: 15px;
              font-weight: bold;
            }
            .desc {
              font-size: 12px;
            }
          }
        }
        
        .price-wrapper {
          height: 44px;
          background: rgba(0, 0, 0, 0.87);
          border-radius: 4px;
          display: flex;
          margin-top: 10px;
          p {
            color: #ffffff;
            flex: 1;
            height: 44px;
            line-height: 44px;
            margin: 0 12px;
            font-size: 14px;
          }
          .name {
            text-align: left;
          }
          .price {
            text-align: right;
          }
        }

        .notselect {
          background: #ffffff;
          p {
            color: rgba(0, 0, 0, 0.87);
          }
        }

        .ok {
          position: absolute;
          bottom: 24px;
          left: 0;
          right: 0;
          p {
            margin: 0;
            color: rgba(0, 0, 0, 0.87);
            font-size: 15px;
            font-weight: bold;
          }
        }
    }
}

</style>
