<template>
  <div class="select-car-model">
    <div class="car-info-block-wrapper">
        <div class="car-info-block" v-for="item in info" :key="item._id" @click="selectCar(item)">
            <CarInfoBlock :info="item"></CarInfoBlock>
        </div>
    </div>
  </div>
</template>

<script>
import CarInfoBlock from "@/components/PagesOfFunctions/SelectCarModel/CarInfoBlock/CarInfoBlock"

export default {
  name: 'select-car-model',
  data () {
    return {
      cars: []
    }
  },
  props: {
    info: {
    }
  },
  methods: {
      selectCar(carInfo) {
          this.selected = carInfo
          this.$emit('selectCarInfo', carInfo);
      },
      loadBottom() {
          alert(1)
      }
  },
  components: {
      CarInfoBlock
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.select-car-model {
    .car-info-block-wrapper {
        .car-info-block {
            height: 64px;
            margin: 16px;
        }
    }
}

</style>
