<template>
  <div class="serv" @click="hide">
    <div class="content" @click.stop.prevent="call">   
        <p class="title">微信：飞缘租车</p>           
        <p class="title">官网：www.feiyuanzl.com</p>

        <p class="title">客服热线</p>
        <div class="phone-number">
            <div class="phone-icon">
                <img :src="phoneIcon"/>
            </div>
            <div class="number">
                <a :href="link">{{number}}</a>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'serv',
  data () {
    return {
      phoneIcon: 'static/Images/Basic/Navigation/Serv/phone.png',
      number: '0931-2167000',
      link: 'tel:0931-2167000#mp.weixin.qq.com'
    }
  },
  methods: {
      hide() {
          this.$emit("hide")
      },
      call() {
          
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.serv {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 56px;
    left: 0;
    right: 0;
    .content {
        width: 312px;
        height: 196px;
        background: #ffffff;
        border-radius: 6px;
        margin: 182px auto 0 auto;
        .title {
            font-size: 15px;
            font-weight: bold;
            text-align: left;
            padding: 24px 0 0 24px;
            margin: 0;
        }
        .phone-number {
            display: flex;
            margin-top: 25px;
            .phone-icon {
                width: 44px;
                flex: 0 0 44px;
                text-align: right;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            .number {
                flex: 1;
                text-align: left;
                p {
                    margin: 0 0 0 12px;
                    padding: 0;
                    font-size: 15px;
                    font-weight: bold;
                    display: inline-block;
                }
            }
        }
    }
}

</style>
