<template>
  <div class="carousel">
    <mt-swipe :auto="4000" class="swip">
      <mt-swipe-item class="item-swip" v-for="item in ads" :key="item._id">
        <img :src="item.img"/>
      </mt-swipe-item>
    </mt-swipe>
  </div>
</template>

<script>
import config from '@/config'
import Toast from 'mint-ui'
export default {
  name: 'carousel',
  data () {
    return {
      ads: []
    }
  },
  mounted: function() {
    this.$http.get(`${config.host}/ads`, {}, {'emulateJSON': true, 'emulateHTTP': true })
      .then((response) => {
        this.ads = response.data
      })
      .catch(err => {
          Toast('服务器未响应')
      })
   }
}
</script>

<style lang="scss" scoped>
.carousel {
    height: 203px;
    .swip {
        height: 203px;
        color: #fff;
        font-size: 30px;
        text-align: center;
        .item-swip {
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
} 

</style>
