<template>
  <div class="functions">
    <div v-for="item in functions" :key="item._id" class="function" @click="go(item.link)">
        <img :src="item.image" class="img"/>
        <p class="name">{{item.name}}</p>
        <p class="desc">{{item.desc}}</p>
    </div>
  </div>
</template>

<script>

export default {
  name: 'functions',
  data () {
    return {
      functions2: [
          {
              name: '自驾租车',
              image: 'static/Images/Home/Functions/function1.png',
              desc: '百款车型 上千网点',
              link: '/selfdriving',
              onSale: true
          }
      ],
      functions: [
          {
              name: '自驾租车',
              image: 'static/Images/Home/Functions/function1.png',
              desc: '百款车型 上千网点',
              link: '/selfdriving',
              onSale: true
          },
          {
              name: '正在开发',
              image: 'static/Images/Home/Functions/function2.png',
              desc: '',
              link: '',
              onSale: false
          }
      ]
    }
  },
  methods: {
    go(url) {
        if(url === '') {
            alert('正在开发中，敬请期待！')
        } else {
            let user = this.$store.state.user
            if (!user.authentication) {
                this.$router.push('/users/authentication')
            } else {
                window.orderInfo = {}
                window.orderInfo._userId = window.openid
                window.orderInfo.address_get = '浙江省杭州'
                window.orderInfo.address_return = '浙江省温州'
                window.orderInfo.need_returncar = window.orderInfo.need_tocar = false
                window.orderInfo.note = ' '
                this.$router.push(url)
            }
          }
        
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.functions {
    display: flex;
    height: 176px;
    width: 100%;
    .function {
        flex: 1;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-right: 1px solid rgba(0, 0, 0, 0.08);
        padding-top: 24px;
        position: relative;
        .img {
            width: 80px;
            height: 80px;
            margin: 0;
            padding: 0;
            vertical-align: top; 
            display: inline-block;
        }
        .name {
            font-size: 16px;
            color: #00a6e3;
            margin: 10px 0 0 0;
        }
        .desc {
            font-size: 11px;
            color: rgba(0, 0, 0, 0.38);
            margin: 1px 0 0 0;
        }
        .label {
            width: 46px;
            height: 18px;
            position: absolute;
            border-radius: 9px;
            top: 10px;
            right: 10px;
            background: #ff5856;
            .label-text {
                font-size: 12px;
                color: #ffffff;
                height: 18px;
                line-height: 18px;
                margin: 0;
                padding: 0;
            }
        }
    }
}

</style>
