<template>
  <div class="methods">
    <div v-for="(item, index) in methods" class="method" @click="go(index)">
      <img :src="item.image" class="image"/>
      <p class="name">{{item.name}}</p>
    </div>
  </div>
</template>

<script>

export default {
  name: 'methods',
  data () {
    return {
      methods: [
        {
          name: '综合专区',
          image: 'static/Images/Home/Methods/method01.png',
          link: ''
        },
        {
          name: '旅游攻略',
          image: 'static/Images/Home/Methods/method02.png',
          link: 'https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzU3NDAxMzgwNw==&scene=124#wechat_redirect'
        },
        {
          name: '礼品卡',
          image: 'static/Images/Home/Methods/method03.png',
          link: ''
        },
        {
          name: '企业服务',
          image: 'static/Images/Home/Methods/method04.png',
          link: ''
        }
      ]
    }
  },
  methods: {
    go(index) {
      if(index === 1) {
        window.location.href = 'https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzU3NDAxMzgwNw==&scene=124#wechat_redirect'
      } else {
        alert('正在开发中，敬请期待！')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.methods {
    display: flex;
    margin-top: 8px;
    .method {
        flex: 1;
        height: 96px;
        .image {
            width: 32px;
            padding: 0;
            vertical-align: top; 
            display: inline-block;
            margin: 20px 0 12px 0;
        }
        .name {
            margin: 0;
            padding: 0;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5)
        }
    }
}

</style>
