<template>
    <div class="price-item" v-if="info.serviceVisible">
        <p class="item-name">{{info.name}}({{info.price}}元)</p>
        <div>
            <mt-switch v-model="value" @change="change"></mt-switch>
        </div>
    </div>
</template>

<script>
export default {
  name: 'price-item',
  data() {
    return {
      value: true
    }
  },
  props: {
    info: {
      type: Object
    }
  },
  methods: {
    change() {
      let price
      if (!this.value) {
        price = -parseInt(this.info.price)
        this.$emit('change', price)
      } else {
        price = parseInt(this.info.price)
        this.$emit('change', price)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.price-item {
    margin: 0 24px;
    padding: 14px 0;
    text-align: left;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    .item-name {
        margin: 0;
        flex: 1;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
    }
}
</style>
