<template>
  <div class="self-driving-order-info">
    <div class="title-bar-wrapper">
        <TitleBar :title="title"></TitleBar>
    </div>

    <div class="order-info-wrapper" v-if="orders.length">
        <OrderItem :order="order" v-for="order in orders" :key="order._id"></OrderItem>
    </div>

    <div v-if="orders.length">
        <div class="items-wrapper" @click="gotoIdntify" v-if="identify">
            <div class="items-wrapper2">
                <img class="icon1" src="static/Images/Mine/Methods/method02-03.png" />
                <p class="title">身份认证</p>
                <div class="null"></div>
                <img class="icon2" src="static/Images/Mine/Methods/to.png" />
            </div>
        </div>

        <div class="items-wrapper">
            <div class="items-wrapper2">
                <p class="title">创建时间</p>
                <p class="content">{{resetTime(orders[0].created_time)}}</p>
            </div>
        </div>

        <div class="items-wrapper">
            <div class="items-wrapper2">
                <p class="title">订单状态</p>
                <p class="content">{{orders[0].type}}</p>
            </div>
        </div>

        <div class="items-wrapper">
            <div class="items-wrapper3">
                <p class="title">手续费</p>
                <p class="content">{{prices.shouxu}}元</p>
            </div>
        </div>

        <div class="items-wrapper">
            <div class="items-wrapper3">
                <p class="title">保险费</p>
                <p class="content">{{prices.safe}}元</p>
            </div>
        </div>

        <div class="items-wrapper">
            <div class="items-wrapper3">
                <p class="title">上门服务费</p>
                <p class="content">{{prices.service}}元</p>
            </div>
        </div>

        <div class="selects" v-if="orders[0].type != '已取消'">
            <div class="select" v-if="!orders[0].isPayed" @click="repayOrder">
                <p>支付</p>
            </div>
            <div class="line" v-if="!orders[0].isPayed"></div>
            <div class="select" @click="cancleOrder">
                <p>取消订单</p>
            </div>
        </div>

        <div class="selectsa" v-if="orders[0].type == '已取消'">
            <!--<div class="select">
                <p>去选车</p>
            </div>
            <div class="line"></div>
            <div class="select" @click="cancleOrder">
                <p>该订单已取消</p>
            </div>-->
        </div>
    </div>




  </div>
</template>

<script>
import TitleBar from "@/components/Basic/TitleBar/TitleBar"
import OrderItem from "@/components/Pages/SelfDrivingOrderInfo/OrderItem/OrderItem"
import config from '@/config'

export default {
  name: 'self-driving-order-info',
  data () {
    return {
        title: {
            main: '订单详情',
            //   minor: '预约规则'
        },
        orders: [],
        prices: {
            safe: 20,
            shouxu: 30,
            service: 0
        },
        orderId: window.orderId,
        identify: false
    }
  },
  methods: {
    cancleOrder() {
        if(this.orders[0].type != '已取消' && confirm('确认取消订单？')) {
            var url = `${config.host}/orders/` + this.orderId + "/cancle"
            this.$http.put(url, {}, {'emulateJSON': true, 'emulateHTTP': true })
            .then((response) => {
                if(response.body.type && response.body.type == '已取消') {
                    alert('取消成功！')
                    this.$router.push('/selfdrivingorder')
                } else {
                    alert('取消失败，请重试！')
                }
            })
            .catch(function (response) {
            })
        }
    },
    gotoIdntify() {
        this.$router.push('/ididentify')
    },
    resetTime(time) {
      var date = new Date(time)
      var h = date.getHours() >= 13 ? date.getHours() - 12 : date.getHours()
      var items = {
        y: date.getFullYear(),
        m: date.getMonth() + 1,
        d: date.getDate(),
        h: h > 9 ? h : '0' + h,
        s: date.getMinutes() > 9 ? date.getMinutes() : '0' + date.getMinutes(),
        k: date.getHours() < 12 ? '上午' : '下午'
      }
      return items.y + '年' + items.m + '月' + items.d + '日' + items.k + items.h + ':' + items.s
    },
    repayOrder() {
        var response = {

            body: this.orders[0]
        }

        var t = {
            "appId": response.body.appid,     //公众号名称，由商户传入
            "timeStamp": response.body.timeStamp,         //时间戳，自1970年以来的秒数
            "nonceStr": response.body.nonceStr, //随机串
            "package": response.body.package,
            "signType": response.body.signType,         //微信签名方式：
            "paySign": response.body.paySign //微信签名
        }
        var that = this

        WeixinJSBridge.invoke(
            'getBrandWCPayRequest', {
                "appId": response.body.appid,     //公众号名称，由商户传入
                "timeStamp": response.body.timeStamp,         //时间戳，自1970年以来的秒数
                "nonceStr": response.body.nonceStr, //随机串
                "package": response.body.package,
                "signType": response.body.signType,         //微信签名方式：
                "paySign": response.body.paySign //微信签名
            },
            function(res){
                // alert(res.err_msg)
                if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                    alert('预约成功！')
                    that.$router.push('/home')
                } else {
                    alert('支付失败，请重试！')
                }    // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
            }
        )
    }
  },
  components: {
      TitleBar, OrderItem
  },
  mounted: function() {
    document.getElementsByClassName("self-driving-order-info")[0].style.height = (document.documentElement.clientHeight) + "px"
    this.identify = !this.$store.state.user.isChecking
    let url = `${config.host}/orders/` + this.orderId
    this.$http.get(url, {}, {'emulateJSON': true, 'emulateHTTP': true })
        .then((response) => {
            this.orders = [
                response.body
            ]
            this.prices.service = response.body.payway.price_service
        })
        .catch(function (response) {
        })
  }
}
</script>

<style lang="scss" scoped>

.self-driving-order-info {
    padding: 56px 0 90px 0;
    background: #F8F8F8;
    .title-bar-wrapper {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .items-wrapper {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        .items-wrapper2 {
            height: 50px;
            background: #ffffff;
            margin-top: 10px;
            margin-left: -1px;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            display: flex;
            p {
                height: 50px;
                line-height: 50px;
                margin: 0;
                font-size: 14px;
            }
            .title {
                flex: 0 0 80px;
                text-align: left;
                margin-left: 24px;
                color: rgba(0, 0, 0, 0.87);
            }
            .content {
                flex: 1;
                text-align: right;
                margin-right: 24px;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.37);
            }
            .icon1, .icon2 {
                flex: 0 0 24px;
                width: 24px;
                height: 24px;
                margin-top: 12px;
            }
            .icon1 {
                margin-left: 24px;
            }
            .icon2 {
                margin-right: 24px;
            }
            .null {
                height: 24px;
                flex: 1;
            }
        }
        .items-wrapper3 {
            height: 50px;
            background: #ffffff;
            margin-top: 10px;
            margin-left: -1px;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            display: flex;
            p {
                height: 50px;
                line-height: 50px;
                margin: 0;
                font-size: 14px;
            }
            .title {
                flex: 1;
                text-align: left;
                margin-left: 24px;
                color: rgba(0, 0, 0, 0.87);
            }
            .content {
                flex: 1;
                text-align: right;
                margin-right: 24px;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.37);
            }
        }
    }

    .selects {
        height: 56px;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #222222;
        display: flex;
        .line {
            flex: 0 0 1px;
            width: 1px;
            background: #ffffff;
        }
        .select {
            flex: 1;
            p {
                margin: 0;
                padding: 0;
                line-height: 56px;
                height: 56px;
                color: #ffffff;
                font-size: 18px;
                font-weight: bold;
            }
        }

    }

    .selectsa {
        height: 56px;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #F8F8F8;
        opacity: 0;
    }
}

</style>
