<template>
  <div class="data">
    <div class="balance data-item">
        <div class="number">
            <span class="rmb-logo">￥</span>
            <span class="rmb-num">{{info.money}}.0</span>
        </div>
        <div class="title">
            <p>账户余额</p>
        </div>
    </div>
    <!--<div class="integration data-item">
        <div class="number">
            <span class="rmb-num">100</span>
        </div>
        <div class="title">
            <p>会员积分</p>
        </div>
    </div>
    <div class="freeday data-item">
        <div class="number">
            <span class="rmb-num">0</span>
            <span class="rmb-logo">天</span>
        </div>
        <div class="title">
            <p>免费天数</p>
        </div>
    </div>-->
  </div>
</template>

<script>
export default {
  name: 'data',
  data () {
    return {
      
    }
  },
  props: {
      info: {
          type: Object
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.data {
    height: 64px;
    background: rgba(32, 32, 32, 1);
    display: flex;
    p {
        color: #ffffff;
    }
    span {
        color: #ffffff;
    }
    .data-item {
        padding-top: 10px;
        .title {
            p {
                font-size: 12px;
                margin: 5px 0 0 0;
                padding: 0;
            }
        }
    }
    .balance {
        flex: 1;
        margin-top: 3px;
        .number {
            .rmb-logo {
                font-size: 12px;
            }
            .rmb-num {
                font-size: 16px;
                margin-right: 14px;
                font-weight: bold;
            }
        }
    }
    .integration {
        flex: 1;
        margin-top: 3px;
        .rmb-num {
            font-size: 16px;
            font-weight: bold;
        }
    }
    .freeday {
        flex: 1;
        margin-top: 3px;
        .rmb-num {
            font-size: 16px;
            font-weight: bold;
            margin-left: 14px;
        }
        .rmb-logo {
            font-size: 12px;
        }
    }
}

</style>
