<template>
  <div class="select-title">
    <div class="title" :class="{ select: index == select, lasttitle: index == titles.length - 1 }" v-for="(item, index) in titles" :key="item._id" @click="selectTitle(index)">
        <p>{{item}}</p>
    </div>
  </div>
</template>

<script>
import config from '@/config'

export default {
  name: 'select-title',
  data () {
    return {
        titles: [],
        select: 0
    }
  },
  methods: {
      selectTitle(index) {
          this.select = index
          this.$emit('changeSelectTitle', this.titles[index])
      }
  },
  mounted: function() {
      document.getElementsByClassName("select-title")[0].style.width = (document.documentElement.clientWidth) + "px"
      this.$http.get(`${config.host}/cars/type/list`, {}, {'emulateJSON': true, 'emulateHTTP': true })
        .then((response) => {
            this.titles = response.body
            this.titles.unshift('全部')
        })
        .catch(function (response) {
            alert('系统正在维护')
        })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.select-title {
    height: 40px;
    width: 375px;
    padding: 3px 10px 0 10px;
    display: inline;
    white-space: nowrap;
    float: left;
    overflow-x: scroll ;
    overflow-y: hidden ;   
    .title {
        height: 27px;
        display: inline-block;
        padding: 0 8px;
        margin: 0 6px;
        border-radius: 6px;
        p {
            margin: 1px 0 0 0;
            height: 27px;
            line-height: 27px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.87);
        }         
    }
    .lasttitle {
        margin-right: 26px;
    }
    .select {
        background: rgba(0, 0, 0, 0.87);
        p {
            color: #ffffff;
        }
    }
}


</style>
