<template>
  <div class="self-driving-order">

    <div class="wrapper-of-title-bar">
        <div class="title-bar-wrapper">
            <TitleBar :title="title"></TitleBar>
        </div>

        <div class="selector">
            <div class="white"></div>
            <SelectItem @toselect="toselect" v-for="select in selects" :key="select._id" :select="select"></SelectItem>
            <div class="white"></div>
        </div>
    </div>
        


    <div class="order-items" v-if="orders.length">
        <OrderItem :order="order" v-for="order in orders" :key="order._id"></OrderItem>
    </div>

    <div v-else><p class="null">没有任何订单</p></div>

  </div>
</template>

<script>
import TitleBar from "@/components/Basic/TitleBar/TitleBar"
import OrderItem from "@/components/Pages/SelfDrivingOrder/OrderItem/OrderItem"
import SelectItem from "@/components/Pages/SelfDrivingOrder/SelectItem/SelectItem"
import config from '@/config'
import { Toast } from 'mint-ui'

export default {
  name: 'self-driving-order',
  data () {
    return {
        title: {
            main: '自驾订单',
            minor: ''
        },
        orders: [],
        selects: [
            {
                name: '全部',
                isSelect: true
            },
            {
                name: '预约中',
                isSelect: false
            },
            {
                name: '租赁中',
                isSelect: false
            },
            {
                name: '已完成',
                isSelect: false
            },
            {
                name: '已取消',
                isSelect: false
            }
        ]
    }
  },
  methods: {
    toselect(name) {
        for(var i = 0; i < 5; i ++) {
            this.selects[i].isSelect = false
        }
        this.getOrders(name)
    },
    getOrders(type) {
        this.orders = []
        let _userId = this.$store.state.user._id
        let url

        if (type === '全部') {
            url = `${config.host}/orders/users/${_userId}`
        } else {
            url = `${config.host}/orders/users/${_userId}/?type=${type}`
        }

        axios.get(url, {'emulateJSON': true, 'emulateHTTP': true })
            .then((response) => {
                this.orders = response.data
            })
            .catch(function (response) {
                return Toast({
                    message: '服务器正在维护',
                    position: 'bottom',
                    duration: 2000
                })
            })
    }
  },
  components: {
      TitleBar, OrderItem, SelectItem
  },
  mounted: function() {
    document.getElementsByClassName("self-driving-order")[0].style.height = (document.documentElement.clientHeight - 20) + "px"
    this.getOrders('全部')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.self-driving-order {
    background: #F8F8F8;
    .wrapper-of-title-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        .title-bar-wrapper {
            // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
        .selector {
            height: 40px;
            width: 100%;
            background: #ffffff;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            display: flex;
            .white {
                flex: 0 0 20px;
                width: 20px;
            }
        }
    }
    .order-items {
        margin-top: 96px;
    }
    .null {
        padding-top: 126px;
    }
}

</style>
