<template>
  <div class="rule" @click="hide">
    <div class="wrapper" @click.stop.prevent="none">
        <p class="title">预约规则</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'rule',
  data () {
    return {

    }
  },
  methods: {
      hide() {
        this.$emit("hide")
      },
      none() {

      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.rule {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    .wrapper {
        width: 312px;
        height: 360px;
        margin: 60px auto 0 auto;
        background: #ffffff;
        border-radius: 6px;
        .title {
            font-size: 15px;
            font-weight: bold;
            padding-top: 24px;
        }
    }
}

</style>
