<template>
  <div class="hello">
    <mt-datetime-picker
        ref="picker"
        type="time"
        v-model="pickerValue">
    </mt-datetime-picker>
  </div>
</template>

<script>

export default {
  name: 'hello',
  data () {
    return {
      pickerValue: '',
    }
  },
  methods: {
      openPicker() {
        this.$refs.picker.open();
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
