<template>
  <div class="home">
    <Carousel></Carousel>
    <Functions></Functions>
    <Methods></Methods>
    <Navigation select="1"></Navigation>
  </div>
</template>

<script>
import Navigation from "@/components/Basic/Navigation/Navigation"
// 选车
import Functions from "@/components/Pages/Home/Functions/Functions"
// 轮播图
import Carousel from "@/components/Pages/Home/Carousel/Carousel"
// 功能大全
import Methods from "@/components/Pages/Home/Methods/Methods"
export default {
  name: 'home',
  data () {
    return {
      
    }
  },
  components: {
    Navigation, Functions, Carousel, Methods
  },
  mounted: function() {
    // console.log(window.location.href.indexOf('?openid'))
    if(window.location.href.indexOf('?openid') < 0) {
      window.location.href += '?openid=' + window.openid
    }
    this.$store.dispatch('GET_USER', { openid } )
      .then(res => {
        let user = res.data.result
        if(!user) alert('系统正在维护')
        this.$store.state.user = user
      })
      .catch(err => {
        alert('系统正在维护')
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.home {
    padding-bottom: 56px;
}

</style>
