<template>
  <div class="head-img">
    <div class="write">
        <p>编辑</p>
    </div>
    <div class="head-img-wrapper">
        <img :src="img"/>
        <div class="level-wrapper">
            <p>爱车等级 0</p>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'head-img',
  data () {
    return {
      
    }
  },
  props: {
      img: {
          type: String
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.head-img {
    height: 152px;
    background: #444444;
    position: relative;
    .write {
        width: 30px;
        height: 22px;
        position: absolute;
        top: 16px;
        right: 16px;
        p {
            color: #ffffff;
            font-size: 15px;
            margin: 0;
            font-weight: medium;
        }
    }
    .head-img-wrapper {
        width: 80px;
        height: 90px;
        margin: 0 auto 0 auto;
        padding-top: 32px;
        position: relative;
        img {
            width: 80px;
            border-radius: 40px;
            vertical-align: top; 
            display: inline-block;
            margin: 0;
            padding: 0;
        }
        .level-wrapper {
            width: 74px;
            height: 21px;
            background: rgba(0, 0, 0, 0.38);
            border-radius: 12px;
            position: absolute;
            top: 100px;
            left: 3px;
            p {
                font-size: 12px;
                color: #ffffff;
                margin: 0;
                padding: 0;
                height: 21px;
                line-height: 21px;
            }
        }
    }

}

</style>
