<template>
  <div class="ok">
    <div class="title-bar-wrapper">
      <TitleBar @minorMethod="minorMethod" :title="title"></TitleBar>
    </div>

    <!--<img class="logo" src="/static/Images/ok.png"/>-->

    <div class="state-wrapper">
      <div class="title">
        <div class="line"></div>
        <p class="content">提交成功</p>
        <div class="line"></div>
      </div>
      <p class="info">正在审核中</p>
    </div>

  </div>
</template>

<script>
import TitleBar from "@/components/Basic/TitleBar/TitleBar"
export default {
  name: 'ok',
  data() {
    return {
      title: {
        main: '实名认证'
      }
    }
  },
  methods: {
    minorMethod() {

    }
  },
  components: {
    TitleBar
  },
  mounted: function() {
    var self = this
    setTimeout(function() {
      self.$router.push('/home')
    }, 1000)
    // document.getElementsByClassName("title-bar-wrapper")[0].style.minHeight = (document.documentElement.clientHeight) + "px"
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.ok {
  background: #F8F8F8;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  .title-bar-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .logo {
    width: 90%;
    margin-top: 32px;
  }
  .state-wrapper {
    width: 90%;
    height: 144px;
    margin: 32px auto 0 auto;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: #ffffff;
    .title {
      height: 32px;
      margin-top: 10px;
      display: flex;
      padding: 0 29px;
      .line {
        margin-top: 15px;
        flex: 0 0 64px;
        width: 64px;
        height: 1px;
        background: rgba(0, 0, 0, 0.08);
      }
      .content {
        flex: 1;
        font-size: 14px;
        height: 32px;
        line-height: 32px;
        margin: 0;
        color: #57d6c1;
      }
    }
    .info {
      font-size: 16px;
      font-weight: medium;
      color: rgba(0, 0, 0, 0.87);
      margin-top: 32px;
    }
  }
}
</style>
