<template>
  <div class="id-identify">
    

    <div v-if="checkStatus === 0">
      <div class="title-bar-wrapper">
          <TitleBar @minorMethod="minorMethod" :title="title"></TitleBar>
      </div>
      <img class="logo" src="/static/Images/Mine/Methods/sfz.png"/>
      <p class="desc">上传身份证正反面证件照以完成实名认证。</p>
      <!--<div class="botton" @click="upload"><p>上传身份证有人像面</p></div>]
      <div class="botton"><p>上传身份证反面</p></div>-->
      <img v-if="data.img_front" class="showimg" :src="data.img_front"/>
      <div class="botton"><p>{{descs0}}</p><input :accept="accepts" @change="change" type="file"></div>
      <img v-if="data.img_back" class="showimg" :src="data.img_back"/>
      <div class="botton"><p>{{descs1}}</p><input :accept="accepts" @change="change2" type="file"></div>
      <div class="button2"><input v-model="data.realname" placeholder="请输入姓名" /></div>
      <div class="button2"><input v-model="data.phone" placeholder="请输入电话号码"  /></div>
      
      <div class="botton" @click="push"><p>确认上传</p></div>
      <div class="botton3"></div>
    </div>

    <div v-if="checkStatus === 2">
      <div class="title-bar-wrapper">
        <TitleBar @minorMethod="minorMethod" :title="title"></TitleBar>
      </div>

      <!--<img class="logo" src="/static/Images/ok.png"/>-->

      <div class="state-wrapper">
          <div class="title">
              <div class="line"></div>
              <p class="content">提交成功</p>
              <div class="line"></div>
          </div>
          <p class="info">已成功完成实名认证</p>
      </div>
    </div>

    
    <div v-if="checkStatus === 1">
        <div class="title-bar-wrapper">
            <TitleBar @minorMethod="minorMethod" :title="title"></TitleBar>
        </div>

        <div class="state-wrapper">
            <div class="title">
                <div class="line"></div>
                <p class="content">提交成功</p>
                <div class="line"></div>
            </div>
            <p class="info">正在审核中</p>
        </div>
    </div>
  </div>
</template>

<script>
import TitleBar from '@/components/Basic/TitleBar/TitleBar'
import config from '@/config'
import { Toast } from 'mint-ui';

export default {
  name: 'id-identify',
  data () {
    return {
      checkStatus: 0, // 0没认证 1审核中 2审核成功
      title: {
          main: '实名认证'
      },
      data: {
        phone: '',
        realname: '',
        img_back: '',
        img_front: '',
        _userId: null
      },
      uploader: null,
      uploaderToken: '',
      accepts : { //允许的上传类型
          type : String
      },
      flag : [String, Number], //当前上传标识,以便于在同一个监听函数中区分不同的上传域
      maxSize : {
          type : Number,
          default : 0 //上传大小限制
      },
      descs0: '上传身份证有人像面',
      descs1: '上传身份证反面'
    }
  },
  methods: {
    minorMethod() {
      
    },
    push() {
      this.data._userId = this.$store.state.user
      if(this.data.phone == '' || this.data.realname == '' || this.data.img_back == '' || this.data.img_front == '' || this.data._userId == '') {
        return alert('请将信息填写完整！')
      } else {
        var url = `${config.host}/admin/idcards`
        return axios.post(url, this.data, {'emulateJSON': true, 'emulateHTTP': true })
            .then((response) => {
                Toast({
                    message: '已提交审核',
                    duration: 2000
                })
                this.$store.state.user.isChecking = true
                this.checkStatus = 1
                this.$router.back()
            })
            .catch(error => {
                Toast({
                    message: '服务器正在维护',
                    duration: 2000
                })
            })
      }
    },
    change(event) {
        let file = event.target.files[0]
        const self = this
        const flag = this.flag
        if (file) {
            const formData = new FormData()
            formData.append('file', file)
            //获取token
            formData.append('token', self.uploaderToken)
            formData.append('key', self.uploaderToken)
            //提交给七牛处理
            this.descs0 = '上传中'

            self.$http.post('http://upload.qiniu.com/', formData, {})
            .then(response => {
              this.descs0 = '上传身份证有人像面'
                const result = response.body
                if (result.hash && result.key) {
                    //传递给父组件的complete方法
                    event.target.value = null
                    var sourceLink = 'http://ordbfbebw.bkt.clouddn.com' + "/" + result.key
                    this.data.img_front = sourceLink
                    this.getToken()
                }
            })
        }
    },
    change2(event) {
        let file = event.target.files[0]
        const self = this
        const flag = this.flag
        if (file) {
            const formData = new FormData()
            formData.append('file', file)
            //获取token
            formData.append('token', self.uploaderToken)
            formData.append('key', self.uploaderToken)
            //提交给七牛处理
            this.descs1 = '上传中'
            self.$http.post('http://upload.qiniu.com/', formData, {})
            .then(response => {
              this.descs1 = '上传身份证反面'
                const result = response.body
                if (result.hash && result.key) {
                    //传递给父组件的complete方法
                    event.target.value = null
                    var sourceLink = 'http://ordbfbebw.bkt.clouddn.com' + "/" + result.key
                    this.data.img_back = sourceLink
                    this.getToken()
                }
            })
        }
    },
    getToken() {
      this.$http.get(`${config.host}/qiniu/token`, {}, {'emulateJSON': true, 'emulateHTTP': true })
      .then((response) => {
          this.uploaderToken = response.body
          this.$http.get(`${config.host}/qiniu/token`, {}, {'emulateJSON': true, 'emulateHTTP': true })
          .then((response) => {
              this.uploaderToken2 = response.body
          })
      })
    },
    upload() {
      this.descs0 = '上传中'
    },
    uploader_img() {			//七牛上传图片配置
        let _this = this
        var option1 = {
            runtimes: 'html5,flash,html4',
            browse_button: 'pickfiles',
            uptoken: _this.uploaderToken,
            domain: 'qiniu.xtongtong.com',
            get_new_uptoken: false,
            container: 'showImg',
            max_file_size: '100mb',
            flash_swf_url: 'http://cdn.staticfile.org/Plupload/2.1.1/Moxie.swf',
            max_retries: 3,
            dragdrop: false,
            chunk_size: '4mb',
            auto_start: true,
            unique_names: false,
            save_key: false,
            multi_selection: false,
            init: {
                'FileUploaded': function (up, file, info) {
                    let formatInfo = JSON.parse(info)
                    var domain = up.getOption('domain')
                    var res = parseJSON(info)
                    var sourceLink = domain +"/"+ res.key
                },
                'UploadComplete': function () {
                }
            }
        }
    },
  },
  components: {
      TitleBar
  },
  created: function() {
    this.$http.get(`${config.host}/users/` + window.openid, {}, {'emulateJSON': true, 'emulateHTTP': true })
    .then((response) => {
        if(response.data.success) {
          if(response.data.result.isChecked) {
              this.checkStatus = 2
          } else if (response.data.result.isChecking) {
              this.checkStatus = 1
          } else {
              this.checkStatus = 0
          }
        } else {
            this.checkStatus = 0
        }
    })
    .catch(function (response) {
        Toast({
            message: '服务器正在维护',
            duration: 2000
        })
    })
  },
  mounted: function() {
    this.$http.get(`${config.host}/qiniu/token`, {}, {'emulateJSON': true, 'emulateHTTP': true })
    .then((response) => {
        this.uploaderToken = response.body
        this.$http.get(`${config.host}/qiniu/token`, {}, {'emulateJSON': true, 'emulateHTTP': true })
        .then((response) => {
            this.uploaderToken2 = response.body
        })
    })
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.id-identify {
    background: #F8F8F8;
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    .title-bar-wrapper {
      position: fixed;
      width: 100%;
      top: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .logo {
      height: auto;
      width: 90%;
      margin: 66px 20px 0 20px
    }
    .desc {
      margin: 34px 0 0 0;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.38);
    }
    // .botton {
    //   height: 48px;
    //   // width: 100%;
    //   border-radius: 4px;
    //   background: #6bb4ef;
    //   margin: 16px 32px 0 32px;
    //   p {
    //     margin: 0;
    //     height: 48px;
    //     line-height: 48px;
    //     color: #ffffff;
    //     font-size: 16px;
    //     font-weight: medium;
    //   }
    // }
    .botton {
      height: 48px;
      border-radius: 4px;
      background: #6bb4ef;
      margin: 16px 32px 0 32px;
      position: relative;
      input {
        position: absolute;
        font-size: 100px;
        height: 48px;
        right: 0;
        top: 0;
        // left: 0;
        // bottom: 0;
        opacity: 0;
      }
      p {
        margin: 0;
        height: 48px;
        line-height: 48px;
        color: #ffffff;
        font-size: 16px;
        font-weight: medium;
      }
    }

    .button2 {
      height: 48px;
      border: 1px solid #6bb4ef;
      margin: 16px 32px 0 32px;
      border-radius: 4px;
      background: #ffffff;
      input {
        resize: none;
        outline: none;
        border: none;
        font-size: 14px;
        width: 90%;
        height: 38px;
        margin: 3px 5% 0 5%;
      }
    }

    .showimg {
      width: 80%;
      margin-top: 20px;
    }

    .botton3 {
      height: 40px;
      width: 100%;
    }

    .state-wrapper {
        width: 90%;
        height: 144px;
        margin: 32px auto 0 auto;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        background: #ffffff;
        .title {
            height: 32px;
            margin-top: 10px;
            display: flex;
            padding: 0 29px;
            .line {
                margin-top: 15px;
                flex: 0 0 64px;
                width: 64px;
                height: 1px;
                background: rgba(0, 0, 0, 0.08);
            }
            .content {
                flex: 1;
                font-size: 14px;
                height: 32px;
                line-height: 32px;
                margin: 0;
                color: #57d6c1;
            }
        }
        .info {
            font-size: 16px;
            font-weight: medium;
            color: rgba(0, 0, 0, 0.87);
            margin-top: 32px;
        }
    }
}

</style>
