<template>
  <div class="navigation">
    <div v-for="(item, index) in navigations" class="item" @click="change(index)">
      <div :class="{ grey: index != (selectItem - 1) }"></div>
      <img :src="item.image" />
      <p>{{item.name}}</p>
    </div>

    <Serv v-if="selectItem == 3" @hide="hide"></Serv>
  </div>
</template>

<script>
import Serv from '@/components/Pages/Serv/Serv'
export default {
  name: 'hello',
  data () {
    return {
      navigations: [
        {
          name: '首页',
          image: 'static/Images/Basic/Navigation/images/home.jpg',
          link: '/home'
        },
        {
          name: '附近',
          image: 'static/Images/Basic/Navigation/images/near.jpg',
          link: '/stores'
          // link: 'near'
        },
        {
          name: '客服',
          image: 'static/Images/Basic/Navigation/images/serv.jpg',
          link: 'serv'
        },
        {
          name: '我的',
          image: 'static/Images/Basic/Navigation/images/mine.jpg',
          link: '/mine'
        }
      ],
      selectItem: this.select,
      lastSelectItem: 0
    }
  },
  props: {
    select: {
      type: String
    }
  },
  methods: {
    change(index) {
      this.lastSelectItem = this.selectItem
      this.selectItem = index + 1
      if(index != 2) {
        this.$router.push(this.navigations[index].link)
      }
    },
    hide() {
      this.selectItem = this.lastSelectItem
    }
  },
  components: {
    Serv
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.navigation {
  display: flex;
  height: 56px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: #ffffff;
  z-index: 999999;
  .item {
    flex: 1;
    padding-top: 8px;
    position: relative;
    .grey {
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    img {
      width: 24px;
      margin: 0;
      padding: 0;
      vertical-align: top; 
      display: inline-block;
    }
    p {
      font-size: 12px;
      margin: 5px 0 0 0;
    }
  }
}


</style>
