<template>
  <div class="module-of-time">
    
  </div>
</template>

<script>

export default {
  name: 'module-of-time',
  data () {
    return {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.module-of-time {
    height: 113px;
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

</style>
