<template>
  <div class="mine">
    <div class="headimg">
        <HeadImg :img="info.headimgurl"></HeadImg>
        <Data :info="info"></Data>
    </div>
    <Methods></Methods>
    <!--<div class="out-wrapper">
        <div class="out">
            <p>退出登录</p>
        </div>
    </div>-->
    <Navigation select="4"></Navigation>
  </div>
</template>

<script>
import Navigation from "@/components/Basic/Navigation/Navigation"
import Data from "@/components/Pages/Mine/Data/Data"
import HeadImg from "@/components/Pages/Mine/HeadImg/HeadImg"
import Methods from "@/components/Pages/Mine/Methods/Methods"

import config from '@/config'

export default {
  name: 'mine',
  data () {
    return {
      info: {}
    }
  },
  components: {
    Navigation, Data, HeadImg, Methods
  },
  mounted: function() {
    let user = this.$store.state.user
    if(!user) alert('系统正在维护')
    if(!user.authentication) this.$router.push('/users/authentication')
    this.info = user
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.mine {
    padding: 216px 0 50px 0;
    .headimg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .out-wrapper {
        background: #f8f8f8;
        padding-bottom: 16px;
        .out {
            height: 48px;
            width: 100%;
            background: #ffffff;
            p {
                font-size: 14px;
                margin: 0;
                padding: 0;
                height: 48px;
                line-height: 48px;
            }
        }
    }
}

</style>
