<template>
  <div class="select-item">

    <div class="name" @click="toselect" :class="{ select: select.isSelect }"><p>{{select.name}}</p></div>

  </div>
</template>

<script>
export default {
  name: 'select-item',
  data () {
    return {
        
    }
  },
  methods: {
    toselect() {
        this.$emit('toselect', this.select.name)
        this.select.isSelect = true
    }
  },
  props: {
      select: {
          type: Object
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.select-item {
    margin-top: 3px;
    height: 40px;
    flex: 1;
    .name {
        height: 27px;
        width: 62px;
        border-radius: 6px;
        margin: auto;
        p {
            margin: 0;
            height: 27px;
            line-height: 27px;
            color: rgba(0, 0, 0, 0.87);
            font-size: 14px;
        }
    }
    .select {
        background: rgba(0, 0, 0, 0.87);
        p {
            color: #ffffff;
        }
    }
}

</style>
