<template>

    <el-switch v-model="value1" on-text="" off-text="">
    </el-switch>

</template>

<script>
export default {
  name: 'radio',
  data () {
    return {
      
    }
  },
  props: {
      info: {
          type: Object
      }
  },
  methods: {
      toggle() {
          this.info.isSelected = !this.info.isSelected
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.radio {
    position: relative;
    .back {
        margin: 3px 0;
        width: 34px;
        height: 14px;
        border-radius: 17px;
        background: rgba(34, 31, 31, 0.36);
    }
    .circle {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        top: -3px;
    }
    .left {
        left: -3px;
        background: #f1f1f1;
    }
    .right {
        right: -3px;
        background: #222222;
    }
}

</style>
