<template>
  <div class="invoice">
    <div class="title-bar-wrapper">
        <TitleBar @minorMethod="minorMethod" :title="title"></TitleBar>
    </div>

    <!--<div class="select-title-wrapper">
      <div class="select-title">
        <div class="title" :class="{ select: index == select, lasttitle: index == titles.length - 1 }" v-for="(item, index) in titles" @click="selectTitle(index)">
            <p>{{item}}</p>
        </div>
      </div>
    </div>-->

    <div class="invoice-list-wrapper">
      <div class="invoice-item-wrapper" v-for="item in list">
        <p class="title title-p">{{head == 'company' ? item.company_name : item.receive_name}}</p>
        <p class="shoujian-title title-p">收件信息：</p>
        <p class="shoujian-content title-p">{{item.receive_name}},{{item.address}},{{item.address_detail}}</p>
        <div class="bottom">
          <p class="left">{{timeA(item.created_time)}}</p>
          <p class="right">{{head == 'company' ? '公司' : '个人'}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TitleBar from "@/components/Basic/TitleBar/TitleBar"
import config from '@/config'

export default {
  name: 'invoice',
  data () {
    return {
      title: {
          main: '发票管理',
          minor: '添加抬头'
      },
      titles: [
        '个人发票', '企业发票'
      ],
      select: 0,
      list: []
    }
  },
  methods: {
    minorMethod() {
      this.$router.push('/invoiceadd')
    },
    selectTitle(index) {
        this.select = index
        this.$emit('changeSelectTitle', this.titles[index])
    },
    timeA(t) {
      var date = new Date(t);
      var seperator1 = "-";
      var seperator2 = ":";
      var month = date.getMonth() + 1;
      var strDate = date.getDate();
      if (month >= 1 && month <= 9) {
          month = "0" + month;
      }
      if (strDate >= 0 && strDate <= 9) {
          strDate = "0" + strDate;
      }
      var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
              + " " + (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + seperator2 + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes())
      return currentdate;
    }
  },
  components: {
      TitleBar
  },
  mounted: function() {
    //   document.getElementsByClassName("methods")[0].style.minHeight = (document.documentElement.clientHeight - 216) + "px"
    var url = `${config.host}/invoices/users/` + window.openid
    this.$http.get(url, {}, {'emulateJSON': true, 'emulateHTTP': true })
    .then((response) => {
        this.list = response.body

    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.invoice {

    background: #f8f8f8;

    .title-bar-wrapper {
      position: fixed;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    
    .select-title-wrapper {
      position: fixed;
      width: 100%;
      top: 56px;
      background: #ffffff;
      .select-title {
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          height: 40px;
          width: 375px;
          padding: 3px 10px 0 10px;
          display: inline;
          white-space: nowrap;
          float: left;
          overflow-x: scroll ;
          overflow-y: hidden ;   
          .title {
              height: 27px;
              display: inline-block;
              padding: 0 8px;
              margin: 0 6px;
              border-radius: 6px;
              p {
                  margin: 1px 0 0 0;
                  height: 27px;
                  line-height: 27px;
                  font-size: 14px;
                  color: rgba(0, 0, 0, 0.87);
              }         
          }
          .lasttitle {
              margin-right: 26px;
          }
          .select {
              background: rgba(0, 0, 0, 0.87);
              p {
                  color: #ffffff;
              }
          }
      }
    }

    .invoice-list-wrapper {
      padding-top: 56px;
      .invoice-item-wrapper {
        width: 320px;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        margin: 20px auto 20px auto;
        text-align: left;
        .title-p {
          margin: 0;
          margin-left: 16px;
          color: rgba(0, 0, 0, 0.87);
        }
        .title {
          font-size: 16px;
          font-weight: medium;
          margin-top: 16px;
        }
        .shoujian-title {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.38);
          margin-top: 8px;
        }
        .shoujian-content {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.87);
          font-weight: medium;
          margin-top: 4px;
        }
        .bottom {
          margin-top: 16px;
          width: 100%;
          display: flex;
          border-top: 1px dashed #ebebeb;
          .left {
            flex: 1;
            height: 34px;
            line-height: 34px;
            margin: 0;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.54);
            margin-left: 16px;
          }
          .right {
            flex: 1;
            text-align: right;
            height: 34px;
            line-height: 34px;
            margin: 0;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.54);
            margin-right: 16px;
          }
        }

      }
    }
}

</style>
