<template>
  <div class="select-car-model">
    <div class="title-bar-wrapper">
        <TitleBar @minorMethod="minorMethod" :title="title"></TitleBar>
    </div>

    <div class="select-title-wrapper">
        <SelectTitle @changeSelectTitle="changeSelectTitle"></SelectTitle>
    </div>

    <div class="car-list-wrapper">
        <CarList :info="carInfo" @selectCarInfo="selectCarInfo"></CarList>
        <!--<div class="others-title">
            <p>其他门店还有同类可租借车型</p>
        </div>
        <CarList @selectCarInfo="selectCarInfo"></CarList>-->
        <div class="loradmore" @click="loadmore" v-if="hasMore">
            <a>加载更多</a>
        </div>
    </div>

    <div class="select">
        <div class="price-sort" @click="toggleIsBigToSmall">
            <p>价格：由低到高</p>
        </div>
        <!--<div class="line-sort"></div>
        <div class="brand-sort">
            <p>品牌筛选：无</p>
        </div>-->
    </div>

    <div class="car-info-wrapper">
        <CarInfo @hideCarInfo="hideCarInfo" :selected="selected"></CarInfo>
    </div>
  </div>
</template>

<script>
import CarInfo from "@/components/Basic/CarInfo/CarInfo"
import TitleBar from "@/components/Basic/TitleBar/TitleBar"
import SelectTitle from "@/components/PagesOfFunctions/SelectCarModel/SelectTitle/SelectTitle"
import CarList from "@/components/PagesOfFunctions/SelectCarModel/CarList/CarList"
import config from '@/config'

export default {
  name: 'select-car-model',
  data () {
    return {
      title: {
          main: '选择车型'
      },
      selected: '',
      carInfo: {},
      isBigToSmall: 'online_price',
      type: '全部',
      page: 1,
      hasMore: false
    }
  },
  components: {
      TitleBar, SelectTitle, CarList, CarInfo
  },
  methods: {
      minorMethod() {
        
      },
      changeSelectTitle(titleItem) {
        this.type = titleItem
        this.resetCars()
      },
      selectCarInfo(carInfo) {
        this.selected = carInfo
      },
      hideCarInfo() {
          this.selected = ''
      },
      toggleIsBigToSmall() {
        this.isBigToSmall = this.isBigToSmall.charAt(0) == '-' ? 'online_price' : '-online_price';
        this.resetCars()
      },
      resetCars() {
        this.page = 1
        var url = `${config.host}/cars/?sort=` + this.isBigToSmall + "&page=" + this.page
        url += this.type == '全部' ? '' : '&type=' + this.type
        this.$http.get(url, {}, {'emulateJSON': true, 'emulateHTTP': true })
        .then((response) => {
            this.carInfo = response.data
            if(this.carInfo.length < 10) {
                this.hasMore = false
            } else {
                this.hasMore = true
            }
        })
        .catch(function (response) {
            alert('服务器错误')
        })
      },
      moreCars() {
        this.page ++ 
        var url = `${config.host}/cars/?sort=` + this.isBigToSmall + "&page=" + this.page
        url += this.type == '全部' ? '' : '&type=' + this.type
        this.$http.get(url, {}, {'emulateJSON': true, 'emulateHTTP': true })
        .then((response) => {
            if(response.data.length) {
                this.carInfo = this.carInfo.concat(response.data)
            } else {
                this.hasMore = false
            }
        })
        .catch(function (response) {
            alert('系统正在维护')
        })
      },
      loadmore() {
        this.moreCars()
      }
  },
  mounted: function() {
    this.resetCars()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.select-car-model {
    position: relative;
    max-width: 100%;
    .title-bar-wrapper {
        position: fixed;
        width: 100%;
    }
    .select-title-wrapper {
        margin-top: 56px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        height: 40px;
        // position: absolute;
        position: fixed;
        z-index: -1;
    }
    .car-list-wrapper {
        position: fixed;
        width: 100%;
        // margin: 96px 0 0 0;
        bottom: 56px;
        top: 96px;
        overflow-y: auto;
        .others-title {
            height: 40px;
            background: #F8F8F8;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            p {
                margin: 1px 0 0 24px;
                height: 40px;
                line-height: 40px;
                text-align: left;
                color: rgba(0, 0, 0, 0.87);
                font-size: 14px;
            }
        }
        .loradmore {
            margin-bottom: 10px;
            a {
                margin: 0;
                font-size: 14px;
            }
        }
    }
    
    .select {
        height: 56px;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #222222;
        display: flex;
        z-index: 9;
        p {
            margin: 0;
            padding: 0;
            line-height: 56px;
            height: 56px;
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
        }
        .price-sort {
            flex: 1;
        }
        .line-sort {
            flex: 0, 0, 1px;
            width: 1px;
            background: rgba(255, 255, 255, 0.2);
        }
        .brand-sort {
            flex: 1;
        }
    }
}

</style>
