<template>
  <div class="one-of-module">
    <div :class="{ left: isLeft, right: !isLeft }">
        <div @click="selectAddress">
            <p class="title-city">{{titles[index].city}}</p>
            <p class="data-city" @click="selectAddress">{{data[index].city}}</p>
            <p class="data-province">{{data[index].province}}</p>
        </div>
            
        <div class="line"></div>

        <div>
            <p class="title-get">{{titles[index].get}}</p>
            <p @click="selectStore" class="data-get data-get-value" v-if="store[index]">{{store[index].name}}</p>
            <p @click="selectStore" class="data-get data-get-time" v-else>{{dateGetName}}</p>
        </div>
            
        <div class="center-line"></div>

        <div class="time-block" @click="openPicker">
            <p class="title-time">{{titles[index].time}}</p>
            <p class="data-date">{{data[index].date}}</p>
            <p class="data-time">{{data[index].time}}</p>
            <div class="center-line"></div>
        </div>
    </div>

    <div class="address-selector-wrapper" @click="hasSelectAddress(false)" v-if="isSelectAddress['item'+index]">
        <div class="address-selector">
            <mt-picker :slots="slots" @change="onValuesChange"></mt-picker>
        </div>
        <div class="ok" @click="hasSelectAddress(true)">
            <p>确定</p>
        </div>
    </div>

    <!--<mt-datetime-picker
        ref="picker"
        type="datetime"
        v-model="pickerValue[index]"
        @confirm="handleConfirm"
        :year-format="defalutDatatime.y"
        :month-format="defalutDatatime.m"   
        :date-format="defalutDatatime.d">
    </mt-datetime-picker>-->

    <mt-datetime-picker
        ref="picker"
        type="datetime"
        v-model="pickerValue.values[index]"
        @confirm="handleConfirm"
        :startDate="parentDate.date">
    </mt-datetime-picker>
        
  </div>
</template>

<script>
import moment from 'moment'
import config from '@/config'

export default {
  name: 'one-of-module',
  data () {
    return {
        selectHours: false,
        dateGetName: '该区域没有门店',
        store: {},
        titles: [
            {
                city: '取车地址',
                checkBox: '上门送车',
                get: '取车门店',
                time: '取车时间'
            },
            {
                city: '还车地址',
                checkBox: '上门取车',
                get: '还车门店',
                time: '还车时间'
            }
        ],
        data: [
            {
            city: '兰州',
            province: '甘肃省',
            isCheck: false,
            get: '下沙高沙门店',
            date: '4月4日，周二',
            time: '下午03：00'
            },
            {
            city: '兰州',
            province: '甘肃省',
            isCheck: false,
            get: '瑞安市外滩广场',
            date: '4月6日，周四',
            time: '下午03：00'
            }
        ],
        temporary: [
            {
                cityInfo: []
            },
            {
                cityInfo: []
            }
        ],
        stores: [],
        slots2: [
            {
            flex: 1,
            values: ['00 : 00', '01 : 00', '02 : 00', '03 : 00', '04 : 00', '05 : 00', '06 : 00', '07 : 00', '08 : 00', '09 : 00', '10 : 00' , '11 : 00' , '12 : 00' , '13 : 00' , '14 : 00' , '15 : 00' , '16 : 00' , '17 : 00' , '18 : 00' , '19 : 00' , '20 : 00', '21 : 00', '22 : 00', '23 : 00' ],
            className: 'slot1',
            textAlign: 'center'
            }
        ],
        slots: [
            {
            flex: 1,
            values: ['北京市', '广东省', '上海市', '天津市', '重庆市', '辽宁省', '江苏省', '湖北省', '四川省', '陕西省', '河北省', '山西省', '河南省', '吉林省', '黑龙江', '内蒙古', '山东省', '安徽省', '浙江省', '福建省', '湖南省', '广西省', '江西省', '贵州省', '云南省', '西藏', '海南省', '甘肃省', '宁夏', '青海', '新疆'],
            className: 'slot1',
            textAlign: 'center',
            }, {
            divider: true,
            content: '-',
            className: 'slot2'
            }, {
            flex: 1,
            values: ['北京市'],
            className: 'slot3',
            textAlign: 'center',
            }
        ],
        miaoshu: [],
        hourshu: [],
        //   provinces: [  {  'name':'北京市',  'citys':[  '北京市'  ]  },  {  'name':'广东省',  'citys':[  '广州市',  '深圳市',  '珠海市',  '汕头市',  '韶关市',  '佛山市',  '江门市',  '湛江市',  '茂名市',  '肇庆市',  '惠州市',  '梅州市',  '汕尾市',  '河源市',  '阳江市',  '清远市',  '东莞市',  '中山市',  '潮州市',  '揭阳市',  '云浮市'  ]  },  {  'name':'上海市',  'citys':[  '上海市' ]  },  {  'name':'天津市',  'citys':[  '天津市'  ]  },  {  'name':'辽宁省',  'citys':[  '沈阳市',  '大连市',  '鞍山市',  '抚顺市',  '本溪市',  '丹东市',  '锦州市',  '营口市',  '阜新市',  '辽阳市',  '盘锦市',  '铁岭市',  '朝阳市',  '葫芦岛市'  ]  },  {  'name':'江苏省',  'citys':[  '南京市',  '苏州市',  '无锡市',  '常州市',  '镇江市',  '南通市',  '泰州市',  '扬州市',  '盐城市',  '连云港市',  '徐州市',  '淮安市',  '宿州市'  ]  },  {  'name':'湖北省',  'citys':[  '武汉市',  '黄石市',  '十堰市',  '荆州市',  '宜昌市',  '襄樊市',  '鄂州市',  '荆门市',  '孝感市',  '黄冈市',  '咸宁市',  '随州市',  '仙桃市',  '天门市',  '潜江市',  '神农架市'  ]  },  {  'name':'四川省',  'citys':[  '成都市',  '自贡市',  '攀枝花市',  '泸州市',  '德阳市',  '绵阳市',  '广元市',  '遂宁市',  '内江市',  '乐山市',  '南充市',  '眉山市',  '宜宾市',  '广安市',  '达州市',  '雅安市',  '巴中市',  '资阳市'  ]  },  {  'name':'陕西省',  'citys':[  '西安市',  '铜川市',  '宝鸡市',  '咸阳市',  '渭南市',  '延安市',  '汉中市',  '榆林市',  '安康市',  '商洛市'  ]  },  {  'name':'河北省',  'citys':[  '石家庄市',  '唐山市',  '秦皇岛市',  '邯郸市',  '邢台市',  '保定市',  '张家口市',  '承德市',  '沧州市',  '廊坊市',  '衡水市'  ]  },  {  'name':'山西省',  'citys':[  '太原市',  '大同市',  '阳泉市',  '长治市',  '晋城市',  '朔州市',  '晋中市',  '运城市',  '忻州市',  '临汾市',  '吕梁市'  ]  },  {  'name':'河南省',  'citys':[  '郑州市',  '开封市',  '洛阳市',  '平顶山市',  '安阳市',  '鹤壁市',  '新乡市',  '焦作市',  '濮阳市',  '许昌市',  '漯河市',  '三门峡市',  '南阳市',  '商丘市',  '信阳市',  '周口市',  '驻马店市',  '焦作市'  ]  },  {  'name':'吉林省',  'citys':[  '吉林市',  '四平市',  '辽源市',  '通化市',  '白山市',  '松原市',  '白城市',  '延边朝鲜自治区'  ]  },  {  'name':'黑龙江',  'citys':[  '哈尔滨市',  '齐齐哈尔市',  '鹤岗市',  '双鸭山市',  '鸡西市',  '大庆市',  '伊春市',  '牡丹江市',  '佳木斯市',  '七台河市',  '黑河市',  '绥远市',  '大兴安岭地区市'  ]  },  {  'name':'内蒙古',  'citys':[  '呼和浩特市',  '包头市',  '乌海市',  '赤峰市',  '通辽市',  '鄂尔多斯市',  '呼伦贝尔市',  '巴彦淖尔市',  '乌兰察布市',  '锡林郭勒盟市',  '兴安盟市',  '阿拉善盟市'  ]  },  {  'name':'山东省',  'citys':[  '济南市',  '青岛市',  '淄博市',  '枣庄市',  '东营市',  '烟台市',  '潍坊市',  '济宁市',  '泰安市',  '威海市',  '日照市',  '莱芜市',  '临沂市',  '德州市',  '聊城市',  '滨州市',  '菏泽市'  ]  },  {  'name':'安徽省',  'citys':[  '合肥市',  '芜湖市',  '蚌埠市',  '淮南市',  '马鞍山市',  '淮北市',  '铜陵市',  '安庆市',  '黄山市',  '滁州市',  '阜阳市',  '宿州市',  '巢湖市',  '六安市',  '亳州市',  '池州市',  '宣城市'  ]  },  {  'name':'浙江省',  'citys':[  '杭州市',  '宁波市',  '温州市',  '嘉兴市',  '湖州市',  '绍兴市',  '金华市',  '衢州市',  '舟山市',  '台州市',  '丽水市'  ]  },  {  'name':'福建省',  'citys':[  '福州市',  '厦门市',  '莆田市',  '三明市',  '泉州市',  '漳州市',  '南平市',  '龙岩市',  '宁德市'  ]  },  {  'name':'湖南省',  'citys':[  '长沙市',  '株洲市',  '湘潭市',  '衡阳市',  '邵阳市',  '岳阳市',  '常德市',  '张家界市',  '益阳市',  '滨州市',  '永州市',  '怀化市',  '娄底市'  ]  },  {  'name':'广西省',  'citys':[  '南宁市',  '柳州市',  '桂林市',  '梧州市',  '北海市',  '防城港市',  '钦州市',  '贵港市',  '玉林市',  '百色市',  '贺州市',  '河池市',  '来宾市',  '崇左市'  ]  },  {  'name':'江西省',  'citys':[  '南昌市',  '景德镇市',  '萍乡市',  '九江市',  '新余市',  '鹰潭市',  '赣州市',  '吉安市',  '宜春市',  '抚州市',  '上饶市'  ]  },  {  'name':'贵州省',  'citys':[  '贵阳市',  '六盘水市',  '遵义市',  '安顺市',  '铜仁市',  '毕节市'  ]  },  {  'name':'云南省',  'citys':[  '昆明市',  '曲靖市',  '玉溪市',  '保山市',  '邵通市',  '丽江市',  '普洱市',  '临沧市'  ]  },  {  'name':'西藏',  'citys':[  '拉萨市',  '那曲地区',  '昌都地区',  '林芝地区',  '山南区',  '阿里区',  '日喀则'  ]  },  {  'name':'海南省',  'citys':[  '海口市',  '三亚市',  '五指山市',  '琼海市',  '儋州市',  '文昌市',  '万宁市',  '东方市',  '澄迈县',  '定安县',  '屯昌县',  '临高县'  ]  },  {  'name':'甘肃省',  'citys':[  '兰州市',  '嘉峪关市',  '金昌市',  '白银市',  '天水市',  '武威市',  '酒泉市',  '张掖市',  '庆阳市',  '平凉市',  '定西市',  '陇南市',  '临夏市',  '甘南市'  ]  },  {  'name':'宁夏',  'citys':[  '银川市',  '石嘴山市',  '吴忠市',  '固原市',  '中卫市'  ]  },  {  'name':'青海',  'citys':[  '西宁市',  '海东地区',  '海北藏族自治区',  '海南藏族自治区',  '黄南藏族自治区',  '果洛藏族自治区',  '玉树藏族自治州',  '还西藏族自治区'  ]  },  {  'name':'新疆',  'citys':[  '乌鲁木齐',  '克拉玛依',  '吐鲁番地区',  '哈密地区',  '和田地区',  '阿克苏地区',  '喀什地区',  '克孜勒苏柯尔克孜',  '巴音郭楞蒙古自治区',  '昌吉回族自治州',  '博尔塔拉蒙古自治区',  '石河子',  '阿拉尔',  '图木舒克',  '五家渠',  '伊犁哈萨克自治区'  ]  }  ]  
        provinces: [  {  'name':'北京市',  'citys':[  '北京市',  '西城区',  '崇文区',  '宣武区',  '朝阳区',  '海淀区',  '丰台区',  '石景山区',  '房山区',  '通州区',  '顺义区',  '昌平区',  '大兴区',  '怀柔区',  '平谷区',  '门头沟区',  '密云区',  '延庆区',  '其他'  ]  },  {  'name':'广东省',  'citys':[  '广州',  '深圳',  '珠海',  '汕头',  '韶关',  '佛山',  '江门',  '湛江',  '茂名',  '肇庆',  '惠州',  '梅州',  '汕尾',  '河源',  '阳江',  '清远',  '东莞',  '中山',  '潮州',  '揭阳',  '云浮',  '其他'  ]  },  {  'name':'上海市',  'citys':[  '黄浦区',  '卢湾区',  '徐汇区',  '长宁区',  '静安区',  '普陀区',  '闸北区',  '虹口区',  '杨浦区',  '宝山区',  '闵行区',  '嘉定区',  '松江区',  '金山区',  '青浦区',  '南汇区',  '奉贤区',  '浦东新区',  '崇明区',  '其他'  ]  },  {  'name':'天津市',  'citys':[  '和平区',  '河东区',  '河西区',  '南开区',  '河北区',  '红桥区',  '塘沽区',  '汉沽区',  '大港区',  '东丽区',  '西青区',  '北辰区',  '津南区',  '武清区',  '宝坻区',  '静海县',  '宁河县',  '蓟县',  '其他'  ]  },  {  'name':'重庆市',  'citys':[  '渝中区',  '大渡口区',  '江北区',  '南岸区',  '北碚区',  '渝北区',  '巴南区',  '长寿区',  '双桥区',  '沙坪坝区',  '万盛区',  '万州区',  '涪陵区',  '黔江区',  '永川区',  '合川区',  '江津区',  '九龙坡区',  '南川区',  '綦江县',  '潼南区',  '荣昌区',  '璧山区',  '大足区',  '铜梁县',  '梁平县',  '开县',  '忠县',  '城口县',  '垫江区',  '武隆县',  '丰都县',  '奉节县',  '云阳县',  '巫溪县',  '巫山县',  '其他'  ]  },  {  'name':'辽宁省',  'citys':[  '沈阳',  '大连',  '鞍山',  '抚顺',  '本溪',  '丹东',  '锦州',  '营口',  '阜新',  '辽阳',  '盘锦',  '铁岭',  '朝阳',  '葫芦岛',  '其他'  ]  },  {  'name':'江苏省',  'citys':[  '南京',  '苏州',  '无锡',  '常州',  '镇江',  '南通',  '泰州',  '扬州',  '盐城',  '连云港',  '徐州',  '淮安',  '宿州',  '其他'  ]  },  {  'name':'湖北省',  'citys':[  '武汉',  '黄石',  '十堰',  '荆州',  '宜昌',  '襄樊',  '鄂州',  '荆门',  '孝感',  '黄冈',  '咸宁',  '随州',  '仙桃',  '天门',  '潜江',  '神农架',  '其他'  ]  },  {  'name':'四川省',  'citys':[  '成都',  '自贡',  '攀枝花',  '泸州',  '德阳',  '绵阳',  '广元',  '遂宁',  '内江',  '乐山',  '南充',  '眉山',  '宜宾',  '广安',  '达州',  '雅安',  '巴中',  '资阳',  '其他'  ]  },  {  'name':'陕西省',  'citys':[  '西安',  '铜川',  '宝鸡',  '咸阳',  '渭南',  '延安',  '汉中',  '榆林',  '安康',  '商洛',  '其他'  ]  },  {  'name':'河北省',  'citys':[  '石家庄',  '唐山',  '秦皇岛',  '邯郸',  '邢台',  '保定',  '张家口',  '承德',  '沧州',  '廊坊',  '衡水',  '其他'  ]  },  {  'name':'山西省',  'citys':[  '太原',  '大同',  '阳泉',  '长治',  '晋城',  '朔州',  '晋中',  '运城',  '忻州',  '临汾',  '吕梁',  '其他'  ]  },  {  'name':'河南省',  'citys':[  '郑州',  '开封',  '洛阳',  '平顶山',  '安阳',  '鹤壁',  '新乡',  '焦作',  '濮阳',  '许昌',  '漯河',  '三门峡',  '南阳',  '商丘',  '信阳',  '周口',  '驻马店',  '焦作',  '其他'  ]  },  {  'name':'吉林省',  'citys':[  '吉林',  '四平',  '辽源',  '通化',  '白山',  '松原',  '白城',  '延边朝鲜自治区',  '其他'  ]  },  {  'name':'黑龙江',  'citys':[  '哈尔滨',  '齐齐哈尔',  '鹤岗',  '双鸭山',  '鸡西',  '大庆',  '伊春',  '牡丹江',  '佳木斯',  '七台河',  '黑河',  '绥远',  '大兴安岭地区',  '其他'  ]  },  {  'name':'内蒙古',  'citys':[  '呼和浩特',  '包头',  '乌海',  '赤峰',  '通辽',  '鄂尔多斯',  '呼伦贝尔',  '巴彦淖尔',  '乌兰察布',  '锡林郭勒盟',  '兴安盟',  '阿拉善盟'  ]  },  {  'name':'山东省',  'citys':[  '济南',  '青岛',  '淄博',  '枣庄',  '东营',  '烟台',  '潍坊',  '济宁',  '泰安',  '威海',  '日照',  '莱芜',  '临沂',  '德州',  '聊城',  '滨州',  '菏泽',  '其他'  ]  },  {  'name':'安徽省',  'citys':[  '合肥',  '芜湖',  '蚌埠',  '淮南',  '马鞍山',  '淮北',  '铜陵',  '安庆',  '黄山',  '滁州',  '阜阳',  '宿州',  '巢湖',  '六安',  '亳州',  '池州',  '宣城'  ]  },  {  'name':'浙江省',  'citys':[  '杭州',  '宁波',  '温州',  '嘉兴',  '湖州',  '绍兴',  '金华',  '衢州',  '舟山',  '台州',  '丽水',  '其他'  ]  },  {  'name':'福建省',  'citys':[  '福州',  '厦门',  '莆田',  '三明',  '泉州',  '漳州',  '南平',  '龙岩',  '宁德',  '其他'  ]  },  {  'name':'湖南省',  'citys':[  '长沙',  '株洲',  '湘潭',  '衡阳',  '邵阳',  '岳阳',  '常德',  '张家界',  '益阳',  '滨州',  '永州',  '怀化',  '娄底',  '其他'  ]  },  {  'name':'广西省',  'citys':[  '南宁',  '柳州',  '桂林',  '梧州',  '北海',  '防城港',  '钦州',  '贵港',  '玉林',  '百色',  '贺州',  '河池',  '来宾',  '崇左',  '其他'  ]  },  {  'name':'江西省',  'citys':[  '南昌',  '景德镇',  '萍乡',  '九江',  '新余',  '鹰潭',  '赣州',  '吉安',  '宜春',  '抚州',  '上饶',  '其他'  ]  },  {  'name':'贵州省',  'citys':[  '贵阳',  '六盘水',  '遵义',  '安顺',  '铜仁',  '毕节',  '其他'  ]  },  {  'name':'云南省',  'citys':[  '昆明',  '曲靖',  '玉溪',  '保山',  '邵通',  '丽江',  '普洱',  '临沧',  '其他'  ]  },  {  'name':'西藏',  'citys':[  '拉萨',  '那曲地区',  '昌都地区',  '林芝地区',  '山南区',  '阿里区',  '日喀则',  '其他'  ]  },  {  'name':'海南省',  'citys':[  '海口',  '三亚',  '五指山',  '琼海',  '儋州',  '文昌',  '万宁',  '东方',  '澄迈县',  '定安县',  '屯昌县',  '临高县',  '其他'  ]  },  {  'name':'甘肃省',  'citys':[  '兰州',  '嘉峪关',  '金昌',  '白银',  '天水',  '武威',  '酒泉',  '张掖',  '庆阳',  '平凉',  '定西',  '陇南',  '临夏',  '甘南',  '其他'  ]  },  {  'name':'宁夏',  'citys':[  '银川',  '石嘴山',  '吴忠',  '固原',  '中卫',  '其他'  ]  },  {  'name':'青海',  'citys':[  '西宁',  '海东地区',  '海北藏族自治区',  '海南藏族自治区',  '黄南藏族自治区',  '果洛藏族自治区',  '玉树藏族自治州',  '还西藏族自治区',  '其他'  ]  },  {  'name':'新疆',  'citys':[  '乌鲁木齐',  '克拉玛依',  '吐鲁番地区',  '哈密地区',  '和田地区',  '阿克苏地区',  '喀什地区',  '克孜勒苏柯尔克孜',  '巴音郭楞蒙古自治区',  '昌吉回族自治州',  '博尔塔拉蒙古自治区',  '石河子',  '阿拉尔',  '图木舒克',  '五家渠',  '伊犁哈萨克自治区',  '其他'  ]  }  ]  
        }
    },
    props: {
        index: {
            type: String,
            default: '0'
        },
        isSelectAddress: {
            type: Object
        },
        parentDate: {
            type: Object,
            default: {
                date: new Date()
            }
        },
        pickerValue: {
            type: Object
        }
    },
    computed: {
        isLeft: function() {
            return this.index == '0'
        },
        checkImg: function() {
            if(this.index == 0) {
                window.orderInfo.need_tocar = this.data[this.index].isCheck
            } else {
                window.orderInfo.need_returncar = this.data[this.index].isCheck
            }
            return this.data[this.index].isCheck ? 'static/Images/Basic/ModuleOfAddressSelector/OneOfModule/radio_button_checked.png' : 'static/Images/Basic/ModuleOfAddressSelector/OneOfModule/radio_button.png'
        }
    },
    methods: {
        cancleSelectHours() {
            this.selectHours = false
        },
        onValuesChanges(picker, values) {
            for(var i = 0; i < this.slots2[0].values.length; i++) {
                if(values[0] == this.slots2[0].values[i]) {
                    this.hourshu[this.index] = i * 3600000
                }
            }
        },
        check() {
            this.data[this.index].isCheck = !this.data[this.index].isCheck
        },
        onValuesChange(picker, values) {
            this.slots[2].values = this.provinces[this.slots[0].values.indexOf(values[0])].citys
            this.temporary[this.index].cityInfo = values
        },
        selectAddress() {
            this.isSelectAddress['item'+(this.index == 0 ? 1 : 0)] = false
            this.isSelectAddress['item'+this.index] = true
        },
        hasSelectAddress(res) {
            if(res) {
                window.cityInfo = window.cityInfo ? window.cityInfo : []
                window.cityInfo[this.index] = window.cityInfo[this.index] ? window.cityInfo[this.index] : {}
                window.cityInfo[this.index].province = this.data[this.index].province = this.temporary[this.index].cityInfo[0] ? this.temporary[this.index].cityInfo[0] : '北京'
                window.cityInfo[this.index].city = this.data[this.index].city = this.temporary[this.index].cityInfo[1]

                var url = `${config.host}/stores?city=` + this.data[this.index].city + "市"
                this.$http.get(url, '', {'emulateJSON': true, 'emulateHTTP': true })
                .then((response) => {
                    if(response.body.stores.length) {
                        this.store[this.index].name = this.dateGetName = '请选择门店'
                    } else {
                        this.store[this.index].name = this.dateGetName = '该区域没有门店'
                    }
                    this.store[this.index] = false
                    delete this.store[this.index]
                })

                }
                this.isSelectAddress['item'+this.index] = false

                if(this.index == 0) {
                window.orderInfo.address_get = this.data[this.index].province + this.data[this.index].city
                this.getStores(this.data[this.index].province, this.data[this.index].city)
            } else {
                window.orderInfo.address_return = this.data[this.index].province + this.data[this.index].city
            }
        },
        getStores(city, area) {
            var url = `${config.host}/stores?city=${city}&area=${area}`
            this.$http.get(url, {}, {'emulateJSON': true, 'emulateHTTP': true })
                .then((response) => {
                    this.stores = response.body
            })
            .catch(error => {
                alert('系统正在维护')
            })
        },
        openPicker() {
            this.$refs.picker.open();
        },
        handleConfirm(value) {
            if(this.index == 0) {
                window.orderInfo.get_time = Date.parse(this.pickerValue.values[this.index]) 
            } else {
                window.orderInfo.return_time = Date.parse(this.pickerValue.values[this.index])
            }
            var date = new Date(this.pickerValue.values[this.index])
            var date = new Date(date.getTime() - date.getTime()%3600000)
            this.miaoshu[this.index] = date.getTime()
            this.$emit('selectDatetime', this.index, this.pickerValue.values[this.index])
            this.resetDateTime(this.pickerValue.values[this.index])
            this.selectHours = true
        },
        resetDateTime(datetime, isCheck) {
            var date = new Date(datetime)
            if(date.getHours() > 13) {
                this.data[this.index].time = '下午' + ((date.getHours() - 12) <= 9 ? '0' + (date.getHours() - 12) : (date.getHours() - 12)) + '：' + (date.getMinutes() <= 9 ? '0' + date.getMinutes() : date.getMinutes())
            } else {
                this.data[this.index].time = '上午' + (date.getHours() <= 9 ? '0' + date.getHours() : date.getHours() + 1)  + '：' + (date.getMinutes() <= 9 ? '0' + date.getMinutes() : date.getMinutes())
            }
            var show_day = new Array('周一','周二','周三','周四','周五','周六','周日')
            this.data[this.index].date = (date.getMonth() + 1) + '月' + date.getDate() + '日，' +  show_day[date.getDay() == 0 ? 6 : date.getDay() - 1]
            return ''
        },
        selectStore() {
            window.city = {
                index: this.index,
                city: this.data[this.index].city
            }
            this.$router.push('stores')
        }
    },
    mounted: function() {
        let startDate = this.pickerValue.values[0] = new Date(moment().add(5, 'minutes').format())
        let endDate = this.pickerValue.values[1] = new Date(moment().add(2, 'days').add(5, 'minutes').format())
        window.orderInfo.get_time = Date.parse(startDate)
        window.orderInfo.return_time = Date.parse(endDate)
        window.orderInfo.during = 2
        window.orderInfo.store = window.orderInfo.store ? window.orderInfo.store : []
        if(window.city) {
            if(window.cityInfo && window.cityInfo[this.index] && window.cityInfo[this.index].province) {
                this.data[this.index].province = window.cityInfo[this.index] ? window.cityInfo[this.index].province : this.data[this.index].province
                this.data[this.index].city = window.cityInfo[this.index] ? window.cityInfo[this.index].city : this.data[this.index].city
            }
            
            window.orderInfo.store[window.city.index] = window.city.store
            delete window.city
        }
        if(window.orderInfo.store && window.orderInfo.store[this.index]) {
            this.store[this.index] = window.orderInfo.store[this.index]
        } else {
            window.orderInfo.address_get =  '甘肃省兰州'
            window.orderInfo.address_return = '甘肃省兰州'
            let city = '兰州市'
            var url = `${config.host}/stores?city=${city}`
            this.$http.get(url, '', {'emulateJSON': true, 'emulateHTTP': true })
            .then((response) => {
                if(response.body.stores.length) {
                    this.dateGetName = response.body.stores[0].name
                    this.store[this.index] = window.orderInfo.store[this.index] = response.body.stores[0]
                } else {
                    this.dateGetName = '该区域没有门店'
                }
            })
        }
        if(this.index == 0 && window.orderInfo.get_time) {
            this.resetDateTime(this.pickerValue.values[0])
        } else if(this.index == 1 && window.orderInfo.return_time) {
            this.resetDateTime(this.pickerValue.values[1])
        } else {
            var date = Date.parse(moment().add(5, 'minutes').format())
            if(this.index == 0) {
                window.orderInfo.get_time = Date.parse(this.parentDate.date)
            } else {
                window.orderInfo.return_time = Date.parse(this.parentDate.date)
            }
            // this.pickerValue.values[this.index] = this.parentDate.date
            this.resetDateTime(this.pickerValue.values[this.index])
        }

        window.cityInfo = window.cityInfo ? window.cityInfo : []
        if(window.cityInfo && window.cityInfo[this.index] && window.cityInfo[this.index].city) {
            this.data[this.index].province = window.cityInfo[this.index].province
            this.data[this.index].city = window.cityInfo[this.index].city
        } else {
            
            window.cityInfo[this.index] = {}
        }

    }
}
</script>

<style lang="scss" scoped>

.one-of-module {
    p {
        margin: 0;
        padding: 0;
    }
    .left {
        padding: 24px 0 0 0;
        text-align: left;
        .line {
            float: left;
            margin-left: 24px;
        }
        div {
            padding: 0 0 0 24px;
        }
        p {
            // padding: 0 0 0 24px;
        }
        .time-block {
            padding: 24px 0 0 24px;
            border-right: 1px solid rgba(0, 0, 0, 0.12);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
    .right {
        padding: 24px 0 0 0;
        text-align: right;
        .line {
            float: right;
            margin-right: 24px;
        }
        div {
            padding: 0 24px 0 0;
        }
        p {
            // padding: 0 24px 0 0;
        }
        .time-block {
            padding: 24px 24px 0 0;
            border-left: 1px solid rgba(0, 0, 0, 0.12);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }
    }

    .title-city {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 8px;
    }
    .data-city {
        font-size: 32px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold;
        margin-bottom: 6px;
    }
    .data-province {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.87);
    }
    .line {
        width: 48px;
        height: 1px;
        background: #e0e0e0;
        margin-top: 16px;
    }
    .check-img {
        margin-top: 33px;
        img {
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: top;
        }
        span {
            font-size: 13px;
            margin: 0;
            color: rgba(0, 0, 0, 0.54);
            display: inline-block;
            vertical-align: top;
        }
    }
    .title-get {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        margin-top: 28px;
        margin-bottom: 8px;
    }
    .data-get {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold;
        margin-top: 4px;
    }
    .center-line {
        height: 1px;
        margin-top: 24px;
        // background: rgba(0, 0, 0, 0.12);
    }
    .title-time {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 12px;
    }
    .data-date {
        font-size: 16px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.87);
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .data-time {
        font-size: 13px;
        margin-top: 2px;
        color: rgba(0, 0, 0, 0.87);
    }

    .address-selector-wrapper {
        background: rgba(255, 255, 255, 0.8);
        position: fixed;
        bottom: 56px;
        left: 0;
        right: 0;
        top: 0;
        z-index: 998;
        .address-selector {
            background: #ffffff;
            position: fixed;
            bottom: 56px;
            left: 0;
            right: 0;
            padding-top: 20px;
            z-index: 999;
        }
        .ok {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 56px;
            z-index: 999;
            background: #222222;
            p {
                margin: 0;
                padding: 0;
                line-height: 56px;
                height: 56px;
                color: #ffffff;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    .hour-select-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10001;
        .hour-select {
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100000;
            background: #ffffff;
            .title {
                border-bottom: solid 1px #eaeaea;
                display: flex;
                span {
                    flex: 1;
                    display: inline-block;
                    width: 50%;
                    text-align: center;
                    line-height: 40px;
                    font-size: 16px;
                    color: #26a2ff;
                }
            }
        }
    }
    
}

    

</style>
