<template>
  <div>
    <TitleBar :title="title"></TitleBar>
    <div class="content">{{aggrement}}</div>
  </div>
</template>

<script>
import { Toast } from 'mint-ui'
import TitleBar from "@/components/Basic/TitleBar/TitleBar"
export default {
  data() {
    return {
      aggrement: null,
      title: {
        main: '服务协议',
      },
    }
  },
  components: {
    TitleBar
  },
  mounted(){
    this.$store.dispatch('PULL_AGGREMENT')
      .then(res => {
        let body
        body = res.data[0].content.replace(/\n/g, "<br>")
        this.aggrement = res.data[0].content
      })
      .catch(error => {
        Toast({
          message: '服务器未响应',
          position: 'bottom',
          duration: 2000
        })
      })
  }
}
</script>

<style lang="scss" scoped>
.content{
  white-space: pre-wrap;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}
</style>


