<template>
  <div class="body-top">
    <TitleBar :title="title"></TitleBar>

    <mt-field label="真实姓名" placeholder="请输入用户名" v-model="username"></mt-field>
    <mt-field label="密码" placeholder="请输入至少6位密码" type="password" v-model="password"></mt-field>
    <mt-field label="确认密码" placeholder="请再次输入密码" type="password" v-model="repassword"></mt-field>
    <mt-field label="手机号" placeholder="请输入手机号" type="tel" v-model="phone"></mt-field>
    <mt-field label="验证码">
      <mt-button class="send" :plain=true type="primary" @click="send" :disabled="disabled">{{status}}</mt-button>
    </mt-field>
    <p class="aggrement">      
      <input type="checkbox" v-model="aggrement" value="true" class="box"/>
      我已阅读并同意
      <router-link to="aggrement" style="text-decoration: none" class="text">
        《飞缘租车会员服务协议条款》
      </router-link>
    </p>
    <mt-button type="primary" @click="commit">完成验证</mt-button>
  </div>
</template>

<script>
import { Toast } from 'mint-ui'
import TitleBar from "@/components/Basic/TitleBar/TitleBar"
export default {
  data(){
    return {
      phone: null,
      username: null,
      password: null,
      repassword: null,
      status: '发送',
      disabled: false,
      message: {},
      title: {
        main: '信息认证',
        router: '/home'
      },
      aggrement: true
    }
  },
  components: {
    TitleBar
  },
  methods: {
    async commit () {
      if (this.message === {} || !this.username) {
        return Toast({
          message: '请输入正确的验证码或信息',
          position: 'bottom',
          duration: 2000
        })
      }
      try {
        let res = await this.$store.dispatch('USER_VERIFY', {
          randomNum: this.message.randomNum,
          _messageId: this.message._id,
          username: this.username,
          password: this.password,
          _userId: this.$store.state.user._id
        })
        if (!res) throw new Error('请输入正确的验证码')
        this.$store.state.user.realname = res.data.realname
        this.$store.state.user.authentication = res.data.authentication
        this.$router.push('/home')
      } catch (error) {
        alert('请输入正确的验证码')
      }
    },

    async send(){
      if (!this.phone || !this.username || !(/^1[34578]\d{9}$/.test(this.phone))) return Toast({
        message: '请输入正确的电话号码或姓名',
        position: 'bottom',
        duration: 2000
      })

      if (this.password.length < 6) {
        return Toast({
          message: '密码不能少于6位',
          position: 'bottom',
          duration: 2000
        })
      }

      if (this.password !== this.repassword) {
        return Toast({
          message: '两次输入密码不一致',
          position: 'bottom',
          duration: 2000
        })
      }

      let countdown = 60;
      function settime (obj) {
        if (countdown == 0) {
          obj.disabled = false
          obj.status = '获取验证码'
          countdown = 60;
          return;
        } else {
          obj.disabled = true
          obj.status = "(" + countdown + ")";
          countdown--;
        }
        setTimeout(function() {
          settime(obj)
        }, 1000)
      }
      settime(this)


      let phone = this.phone
      let type = 'verify'

      try {
        let res = await this.$store.dispatch('SEND_MSG', { phone, type })        
        this.message = res.data
      } catch (error) {
        return alert('系统正在维护，请稍后尝试')
      }
      Toast({
        message: '验证码已发送，请查收',
        position: 'bottom',
        duration: 2000
      })
    }
  },
  mounted(){
  }
}
</script>

<style lang="scss" scoped>

.body-top {
  width: 100%;
  margin: 0 auto 0 auto;
  position: relative;

}
.aggrement{
  text-align: left;
  margin-left: 20px;
  font-size: 0.85rem;
  .box{
    width: 14px;
    height: 11px;
  }
}

.send{
  width: 68px;
  height: 30px;
}
</style>

