<template>
  <div class="methods">
    <div class="methods-arr" v-for="items in methods" :key="items._id">
        <div @click="gotosw(item)" class="method" :class="{  notFirst: index != 0 }" v-for="(item, index) in items" :key="item._id">
            <img :src="item.image" />
            <p>{{item.name}}</p>
            <img src="static/Images/Mine/Methods/to.png" />
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'methods',
  data () {
    return {
      methods: [
          [
          {
            image: 'static/Images/Mine/Methods/method01-01.png',
            name: '个人信息',
            link: '/users/selfmsg'
          }
          ],
          [
              {
                image: 'static/Images/Mine/Methods/method01-01.png',
                name: '自驾订单',
                link: '/selfdrivingorder'
              }
          ],
          [
              {
                image: 'static/Images/Mine/Methods/method02-04.png',
                name: '发票管理',
                link: '/invoice'
              }
          ],
          [
              {
                image: 'static/Images/Mine/Methods/method02-03.png',
                name: '身份认证',
                link: 'ididentify'
              }
          ],
          [
            {
              image: 'static/Images/Mine/Methods/method02-04.png',
              name: '协议书',
              link: '/users/aggrement'
            }
          ]
      ],
      methods_all: [
          [
              {
                image: 'static/Images/Mine/Methods/method01-01.png',
                name: '自驾订单',
                link: ''
              },
              {
                image: 'static/Images/Mine/Methods/method01-02.png',
                name: '专车订单',
                link: ''
              },
              {
                image: 'static/Images/Mine/Methods/method01-03.png',
                name: '国际租车订单',
                link: ''
              }
          ],
          [
              {
                image: 'static/Images/Mine/Methods/method02-01.png',
                name: '优惠券',
                link: ''
              },
              {
                image: 'static/Images/Mine/Methods/method02-02.png',
                name: '我的礼品卡',
                link: ''
              },
              {
                image: 'static/Images/Mine/Methods/method02-03.png',
                name: '信用卡',
                link: ''
              },
              {
                image: 'static/Images/Mine/Methods/method02-04.png',
                name: '发票管理',
                link: ''
              },
              {
                image: 'static/Images/Mine/Methods/method02-05.png',
                name: '违章记录',
                link: ''
              }
          ],
          [
              {
                image: 'static/Images/Mine/Methods/method03-01.png',
                name: '关于神牛租车',
                link: ''
              },
              {
                image: 'static/Images/Mine/Methods/method03-02.png',
                name: '应用设置',
                link: ''
              }
          ]
      ]
    }
  },
  methods: {
    gotosw(item) {
      this.$router.push(item.link)
    }
  },
  mounted: function() {
    //   document.getElementsByClassName("methods")[0].style.minHeight = (document.documentElement.clientHeight - 216) + "px"
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.methods {
    background: #F8F8F8;
    padding: 1px 0;
    .methods-arr {
        padding: 0 16px;
        margin: 16px 0;
        background: #ffffff;
        .method {
            display: flex;
            height: 48px;
            img {
                flex: 0 0 24px;
                width: 24px;
                height: 24px;
                margin-top: 12px;
            }
            p {
                flex: 1;
                font-size: 14px;
                margin: 0 0 0 12px;
                padding: 0;
                height: 48px;
                line-height: 48px;
                text-align: left;
            }
        }
        .notFirst {
            border-top: 1px solid rgba(0, 0, 0, 0.08);
        }
    }
}

</style>
