<template>
  <div class="body">
    <TitleBar :title="title" @minorMethod="minorMethod"></TitleBar>
  </div>
</template>
<script>
import TitleBar from '@/components/Basic/TitleBar/TitleBar'
export default {
  data () {
    return {
      title: {
        main: '个人信息'
      }
    }
  },
  methods: {
    minorMethod() {
      
    }
  },
  components: {
    TitleBar
  }
}
</script>

<style lang="scss" scoped>
.body{
  width: 100%;
  height: 100%;
}
</style>

